{{/*
SPDX-FileCopyrightText: 2022 Nguyen Hung Phu <phu.nguyen@kdemail.net>
SPDX-License-Identifier: LGPL-3.0-or-later
*/}}

{{- $version := .File.TranslationBaseName }}
{{- $major := index (split $version ".") 0 }}
{{- $minor := index (split $version ".") 1 }}
{{- $majMin := print $major "." $minor }}
{{- $releaseNotesLink := printf "https://community.kde.org/KDE_Gear/%s_Release_notes" $majMin }}
{{- $sourceInfoLink := printf "/info/releases-%s/" $version }}
{{- $changelogLink := printf "/announcements/changelogs/gear/%s/" $version }}
<p>{{ i18n "annc-gear-packagers" }}</p>
<ul>
  <li>{{ partial "fn/i18n_args" (slice "annc-gear-release-notes" $majMin $releaseNotesLink) | markdownify }}</li>
  <li><a href="https://community.kde.org/Get_KDE_Software_on_Your_Linux_Distro">{{ i18n "annc-gear-download-wiki" }}</a></li>
  <li><a href="{{ $sourceInfoLink }}">{{ partial "fn/i18n_args" (slice "annc-gear-source-info" $version) }}</a></li>
  <li><a href="{{ $changelogLink }}">{{ partial "fn/i18n_args" (slice "annc-gear-changelog" $version) }}</a></li>
</ul>
