@import './base';

#features-hero {
  background: url('/for/you/akademy2019-groupphoto.jpg');
  background-size: cover;
  background-position: 50% top;
}

#main .product {
  background-color: #efefef;
  display: flex;
  height: 500px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 calc((100%/2) - 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: rgba(0,0,0,.2)0 9px 11px -5px,rgba(0,0,0,.14)0 18px 28px 2px,rgba(0,0,0,.12)0 7px 34px 6px;

  text-decoration: none !important;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px, rgba(0, 0, 0, 0.14) 0px 24px 38px 3px, rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
  }

  h2 {
    font-size: 2rem !important;
  }

  &-scientists {
    background-color: #313a40;
    background-image: radial-gradient(#E8439322 5%,#000000);
    text-align: center;
    h2 {
      font-size: 3rem !important;
      color: #fff !important;
    }
    p {
      font-size: 2rem !important;
      color: #fff !important;
    }
  }

  &-creators {
    background: url("/for/resources/sonny.webp");
    background-position: left 20%;
  }

  &-activists {
    background: url("/for/activists/pexels-vincent-ma-janssen-2561628.jpg");
    background-position: center;
  }

  &-gamers {
    background: radial-gradient(circle, #c203c5 0%, #4e02a7 80%);
    text-align: center;
    h2 {
      font-size: 3rem !important;
      color: #fff;
    }
    p {
      font-size: 2rem !important;
      color: #fff;
    }
  }

  &-kids {
    background: url("/for/resources/childrenbackground1.svg");
    background-position: left 90%;
  }

  &-developers {
    background: url("/content/develop/devapps-light.png");
    background-position: center;
  }

  &-travelers {
    background: url("/for/travelers/background.jpg");
    background-position: right bottom;
    background-size: cover;
  }

  &-gamers {
    background: url("/content/hardware/steam-deck-large.png");
    background-position: center;
  }

  &-developers, &-creators, &-kids, &-activists, &-travelers, &-gamers {
    padding: 0;
    .description {
      &, h2 {
        color: #000 !important;
      }
      background-color: rgba(255,255,255,.8);
      padding: 1rem;
      width: 100%;
      margin-top: auto;
    }
  }
}

.components {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
