
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/attica-5.104.0.tar.xz">attica-5.104.0</a></td>
   <td align="right">67kB</td>
   <td><tt>f8c3891b7ec16c59d39ba2f8badb4decd4df2bfd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/baloo-5.104.0.tar.xz">baloo-5.104.0</a></td>
   <td align="right">298kB</td>
   <td><tt>5385b6de7513d2faa410a123866c5648344019a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/bluez-qt-5.104.0.tar.xz">bluez-qt-5.104.0</a></td>
   <td align="right">111kB</td>
   <td><tt>4f4050403e6ac23a127203337347c4418bb49e50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/breeze-icons-5.104.0.tar.xz">breeze-icons-5.104.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>2d55e2b953f03d65e7719c544fa096e0e68af0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/extra-cmake-modules-5.104.0.tar.xz">extra-cmake-modules-5.104.0</a></td>
   <td align="right">323kB</td>
   <td><tt>10f4d51d78e7db69613c0e570b5a160da4e296c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/frameworkintegration-5.104.0.tar.xz">frameworkintegration-5.104.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cd331c5cd543378524ad6557920cae6fca3cd3c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kactivities-5.104.0.tar.xz">kactivities-5.104.0</a></td>
   <td align="right">71kB</td>
   <td><tt>eb75c37d17709ef0ca28ba987d690f506ed4b046</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kactivities-stats-5.104.0.tar.xz">kactivities-stats-5.104.0</a></td>
   <td align="right">82kB</td>
   <td><tt>b3a50c76dcdc2466210103f4dcdf59f8f3852a6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kapidox-5.104.0.tar.xz">kapidox-5.104.0</a></td>
   <td align="right">194kB</td>
   <td><tt>511582f0b1964f3962034466ea5165c7478dc1d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/karchive-5.104.0.tar.xz">karchive-5.104.0</a></td>
   <td align="right">987kB</td>
   <td><tt>e5dc51bb9e02a97b29e19102125d01531a651395</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kauth-5.104.0.tar.xz">kauth-5.104.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>3f6b5efbe94df15cb10c6c42b472752b1f6ec99e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kbookmarks-5.104.0.tar.xz">kbookmarks-5.104.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>703b2c5b215e3ab7912b46d8f40d701944f15f63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcalendarcore-5.104.0.tar.xz">kcalendarcore-5.104.0</a></td>
   <td align="right">260kB</td>
   <td><tt>3f821dc697bc4a4337a376db071d116a87c91c66</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcmutils-5.104.0.tar.xz">kcmutils-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>63aaafa66550d0360966e93e6314c3d6307cf648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcodecs-5.104.0.tar.xz">kcodecs-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>439a2439b882ea5768eb4c437fc2a0108910657c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcompletion-5.104.0.tar.xz">kcompletion-5.104.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>a73ed7d549ac277ad7fb644b6dce3cddf6c31e90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kconfig-5.104.0.tar.xz">kconfig-5.104.0</a></td>
   <td align="right">286kB</td>
   <td><tt>d1422b070ee31bd549112bf776834c0ae0d952bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kconfigwidgets-5.104.0.tar.xz">kconfigwidgets-5.104.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e0dca5be624cb10426f9a83a4a01e95ba092d477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcontacts-5.104.0.tar.xz">kcontacts-5.104.0</a></td>
   <td align="right">208kB</td>
   <td><tt>d0f981271d9ad38cf9243b87224c48a111d536f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcoreaddons-5.104.0.tar.xz">kcoreaddons-5.104.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6306d1e98c8db5c829132cd5931b1518cc0e00ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kcrash-5.104.0.tar.xz">kcrash-5.104.0</a></td>
   <td align="right">27kB</td>
   <td><tt>30cfede3dea0ba98bfb8ce0092efe9a30b5093e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdav-5.104.0.tar.xz">kdav-5.104.0</a></td>
   <td align="right">64kB</td>
   <td><tt>bd02cf43eb79c85976c329dedade580f345d875c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdbusaddons-5.104.0.tar.xz">kdbusaddons-5.104.0</a></td>
   <td align="right">47kB</td>
   <td><tt>5c667616dc7d52e7003a0e8b925fa92b4e9001f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdeclarative-5.104.0.tar.xz">kdeclarative-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8bb1f39717622965a1bea3f38cb8a9b2bd95a03b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kded-5.104.0.tar.xz">kded-5.104.0</a></td>
   <td align="right">40kB</td>
   <td><tt>c66ad8ef939d3a40a880c575b9cca2769365c6ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdesu-5.104.0.tar.xz">kdesu-5.104.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a5ea3d97519f3f819019c49068af2ad21796a23f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdnssd-5.104.0.tar.xz">kdnssd-5.104.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9abc770cccabcf2cc54efafb5de496a802493a2b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kdoctools-5.104.0.tar.xz">kdoctools-5.104.0</a></td>
   <td align="right">451kB</td>
   <td><tt>e1a5d9de87c4c7deb5a13e30e73921530accf5bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kemoticons-5.104.0.tar.xz">kemoticons-5.104.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9b549b80b2f73435e4b4babed89c48d007d362f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kfilemetadata-5.104.0.tar.xz">kfilemetadata-5.104.0</a></td>
   <td align="right">458kB</td>
   <td><tt>29ff74dd5217c80b6ad252e45b2c76be3d209388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kglobalaccel-5.104.0.tar.xz">kglobalaccel-5.104.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4a5b76e53889c80f27a1c74ad064f6ef8c2c8610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kguiaddons-5.104.0.tar.xz">kguiaddons-5.104.0</a></td>
   <td align="right">76kB</td>
   <td><tt>77b1f356e1dda0704da0258530b8e9f6882777d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kholidays-5.104.0.tar.xz">kholidays-5.104.0</a></td>
   <td align="right">248kB</td>
   <td><tt>73876469688fb586283b55f4a687f3b7afc110d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/ki18n-5.104.0.tar.xz">ki18n-5.104.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>ee11f2e8813e3d7f581c32fbb4a2ee83cb532520</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kiconthemes-5.104.0.tar.xz">kiconthemes-5.104.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>a7139c2bf9265905cab5781a3764d8d58fff0e6e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kidletime-5.104.0.tar.xz">kidletime-5.104.0</a></td>
   <td align="right">30kB</td>
   <td><tt>4780c36e5fc2cfa5a748f0d620a92e177ecb06da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kimageformats-5.104.0.tar.xz">kimageformats-5.104.0</a></td>
   <td align="right">12MB</td>
   <td><tt>a97382b41a747098dc59ee73a61639b4b71c0089</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kinit-5.104.0.tar.xz">kinit-5.104.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>527d16f5ec0540c8e4d1541b65f4c834d02c3ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kio-5.104.0.tar.xz">kio-5.104.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>6323974739b7277f99a0d17013d877f5b861efc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kirigami2-5.104.0.tar.xz">kirigami2-5.104.0</a></td>
   <td align="right">364kB</td>
   <td><tt>aba1683b2e3463d1d3f15be81ecbdec39d767158</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kitemmodels-5.104.0.tar.xz">kitemmodels-5.104.0</a></td>
   <td align="right">397kB</td>
   <td><tt>bae94d0b0183da2d423c6c42970cc17204125fc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kitemviews-5.104.0.tar.xz">kitemviews-5.104.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4499b1aeacc9eb134be7966db314ef969c70aaba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kjobwidgets-5.104.0.tar.xz">kjobwidgets-5.104.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>01cf44e913d2383d055234bd710180108e04059c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/knewstuff-5.104.0.tar.xz">knewstuff-5.104.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>a7fd9a9b6b4904b11bfa4bdc21da1e1328fe9e7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/knotifications-5.104.0.tar.xz">knotifications-5.104.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>0320268e493b70d0ad488804f4d5fbc22df51569</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/knotifyconfig-5.104.0.tar.xz">knotifyconfig-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>58a9a61d0e021c37c6985079c46accb582910012</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kpackage-5.104.0.tar.xz">kpackage-5.104.0</a></td>
   <td align="right">182kB</td>
   <td><tt>df41d1dca34e6f3c454fcb174e0a41e97b6ecd4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kparts-5.104.0.tar.xz">kparts-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>20cc724ab69889689be18e362ccef3003ae50c35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kpeople-5.104.0.tar.xz">kpeople-5.104.0</a></td>
   <td align="right">61kB</td>
   <td><tt>4e86f51b9eca485d8aaec8e0b9249cf4d0276a53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kplotting-5.104.0.tar.xz">kplotting-5.104.0</a></td>
   <td align="right">32kB</td>
   <td><tt>5e8991d3eb203542d092d7b7ad8dd597465290c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kpty-5.104.0.tar.xz">kpty-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>58a6e9c50a4e930e938f1e2aae75cbd4b39a3357</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kquickcharts-5.104.0.tar.xz">kquickcharts-5.104.0</a></td>
   <td align="right">110kB</td>
   <td><tt>a0999b953a2457c844dba0b0492f798b773e39d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/krunner-5.104.0.tar.xz">krunner-5.104.0</a></td>
   <td align="right">86kB</td>
   <td><tt>5971a239ce3acf2e6f5388823f504d36a24b1499</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kservice-5.104.0.tar.xz">kservice-5.104.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4446dcd9b94c4aadc3b3358d82b7b66949307407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/ktexteditor-5.104.0.tar.xz">ktexteditor-5.104.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b37ce8f8d2cf119226cc3b6a729d7a62cd72e09e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/ktextwidgets-5.104.0.tar.xz">ktextwidgets-5.104.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>79c72133205fbb138b4d9d2a3f10cd5c364681d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kunitconversion-5.104.0.tar.xz">kunitconversion-5.104.0</a></td>
   <td align="right">910kB</td>
   <td><tt>dca281e7e2a48b4612ccfd10cfa2a3460dd1b114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kwallet-5.104.0.tar.xz">kwallet-5.104.0</a></td>
   <td align="right">339kB</td>
   <td><tt>35a138cb7523b0735fb82468b22b134443b992ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kwayland-5.104.0.tar.xz">kwayland-5.104.0</a></td>
   <td align="right">328kB</td>
   <td><tt>7e97a3e692a13ace17ad3eac77f1d59ecd74661e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kwidgetsaddons-5.104.0.tar.xz">kwidgetsaddons-5.104.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>7a9253f5699376f1796a5c6281f7ad9fc179b95d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kwindowsystem-5.104.0.tar.xz">kwindowsystem-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b6c63c59d675d41856d26008dc75ad13cc8bd8df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/kxmlgui-5.104.0.tar.xz">kxmlgui-5.104.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0d03ee4378b02a14c612947361644b5d837656d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/modemmanager-qt-5.104.0.tar.xz">modemmanager-qt-5.104.0</a></td>
   <td align="right">118kB</td>
   <td><tt>04d1331e3984f34f000fd7714ca9103606e59fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/networkmanager-qt-5.104.0.tar.xz">networkmanager-qt-5.104.0</a></td>
   <td align="right">193kB</td>
   <td><tt>69485261f10fe3df5f1b030b5a29ed2cd95f458a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/oxygen-icons5-5.104.0.tar.xz">oxygen-icons5-5.104.0</a></td>
   <td align="right">227MB</td>
   <td><tt>e5eeff5f4f91330ff93376da0db34a0d2e0c4713</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/plasma-framework-5.104.0.tar.xz">plasma-framework-5.104.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4f5139e3c50ea1b804851d8f7ea322fe997cdafa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/prison-5.104.0.tar.xz">prison-5.104.0</a></td>
   <td align="right">53kB</td>
   <td><tt>96d5447b1ecb425da74bb3d1b6ff744c5901551c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/purpose-5.104.0.tar.xz">purpose-5.104.0</a></td>
   <td align="right">173kB</td>
   <td><tt>f772a8e1f805d80a270e3100b52e07582dd1227c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/qqc2-desktop-style-5.104.0.tar.xz">qqc2-desktop-style-5.104.0</a></td>
   <td align="right">67kB</td>
   <td><tt>b3a5560749c72d9567859b24dc2f505677eeafae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/solid-5.104.0.tar.xz">solid-5.104.0</a></td>
   <td align="right">297kB</td>
   <td><tt>e2d90c97dc961642049b6d3b7e7dc0bb3c7610d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/sonnet-5.104.0.tar.xz">sonnet-5.104.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>2f51eaded66458670f030e4e1f8202d7f5a16469</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/syndication-5.104.0.tar.xz">syndication-5.104.0</a></td>
   <td align="right">498kB</td>
   <td><tt>903a217c9fb9991971f7cd5c3a7e9ba354419b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/syntax-highlighting-5.104.0.tar.xz">syntax-highlighting-5.104.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>eddc79507c82d96d3bbd4677de1d96e2a2876bb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.104/threadweaver-5.104.0.tar.xz">threadweaver-5.104.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d5b0162c7284ef3d8ea98f6f4ec411edc1d87c26</tt></td>
</tr>

</table>
