<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-22.12.0.tar.xz">akonadi-22.12.0</a></td>
   <td align="right">1618kB</td>
   <td><tt>83bce0f3d29160922523b02efae40ef88dd38478</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-calendar-22.12.0.tar.xz">akonadi-calendar-22.12.0</a></td>
   <td align="right">397kB</td>
   <td><tt>669863736576d8c01db1964bd8f6488888efb7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-calendar-tools-22.12.0.tar.xz">akonadi-calendar-tools-22.12.0</a></td>
   <td align="right">246kB</td>
   <td><tt>9d7aefa530fc9ad53763ce80fe55897ea0bc40d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadiconsole-22.12.0.tar.xz">akonadiconsole-22.12.0</a></td>
   <td align="right">195kB</td>
   <td><tt>2ba3a50446ad0506d883791f38d7f199c31dfc0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-contacts-22.12.0.tar.xz">akonadi-contacts-22.12.0</a></td>
   <td align="right">428kB</td>
   <td><tt>4e0c0421d0c4faa4bc6c1c37e4b6f4942a9c83a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-import-wizard-22.12.0.tar.xz">akonadi-import-wizard-22.12.0</a></td>
   <td align="right">502kB</td>
   <td><tt>f0a56b6734efe0e7af90f0afc97a9ccbfeb945ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-mime-22.12.0.tar.xz">akonadi-mime-22.12.0</a></td>
   <td align="right">150kB</td>
   <td><tt>ec8cfe9c7aa12c467c3940cd18dbc97fc6a6ce29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-notes-22.12.0.tar.xz">akonadi-notes-22.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>f2242ff6ebecaa7c23c0d810ba23f7e5a10720be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akonadi-search-22.12.0.tar.xz">akonadi-search-22.12.0</a></td>
   <td align="right">98kB</td>
   <td><tt>9c0ecded190ad8d8894b2c6a41cf18e73cc5a51f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/akregator-22.12.0.tar.xz">akregator-22.12.0</a></td>
   <td align="right">2264kB</td>
   <td><tt>8b4fab03ed7a5759d7b52ee13f2995bc43212f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/analitza-22.12.0.tar.xz">analitza-22.12.0</a></td>
   <td align="right">342kB</td>
   <td><tt>b1c3552695aa3cff16152d042da8b8d03fa9aedd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ark-22.12.0.tar.xz">ark-22.12.0</a></td>
   <td align="right">2804kB</td>
   <td><tt>ed58b480627378f2bcdb1f80c89d4dfa922a24ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/artikulate-22.12.0.tar.xz">artikulate-22.12.0</a></td>
   <td align="right">1068kB</td>
   <td><tt>887ce97599659be361138bba1ffb5c443ff79c11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/audiocd-kio-22.12.0.tar.xz">audiocd-kio-22.12.0</a></td>
   <td align="right">547kB</td>
   <td><tt>f82f1182a65919fb7a6045f3625210234ef2c81e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/baloo-widgets-22.12.0.tar.xz">baloo-widgets-22.12.0</a></td>
   <td align="right">268kB</td>
   <td><tt>4843e569609ed31d0bd76eb6bb6dcff1cb124720</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/blinken-22.12.0.tar.xz">blinken-22.12.0</a></td>
   <td align="right">2659kB</td>
   <td><tt>3968e4c5fef0777d4449165e1ee32e0044b10c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/bomber-22.12.0.tar.xz">bomber-22.12.0</a></td>
   <td align="right">817kB</td>
   <td><tt>616d88b8ea7a4bad2dafbeb4ca84d4362d1efae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/bovo-22.12.0.tar.xz">bovo-22.12.0</a></td>
   <td align="right">209kB</td>
   <td><tt>14969143149833a9412cb2c56daef4f232d1b7f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/calendarsupport-22.12.0.tar.xz">calendarsupport-22.12.0</a></td>
   <td align="right">962kB</td>
   <td><tt>06c8db35a9bad41ce205c25d8244d91ec9b35974</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/cantor-22.12.0.tar.xz">cantor-22.12.0</a></td>
   <td align="right">9026kB</td>
   <td><tt>595527a72f905be47338a5b0dc4dacca787f97b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/cervisia-22.12.0.tar.xz">cervisia-22.12.0</a></td>
   <td align="right">1898kB</td>
   <td><tt>5e2c16455e1f042e2d7692aeae0cbaa46a646a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/colord-kde-22.12.0.tar.xz">colord-kde-22.12.0</a></td>
   <td align="right">108kB</td>
   <td><tt>70f2643d872bc1f90bf3097eec078abe576061fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/dolphin-22.12.0.tar.xz">dolphin-22.12.0</a></td>
   <td align="right">5548kB</td>
   <td><tt>05441b88057bcff57c7751c9d74343383796aa63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/dolphin-plugins-22.12.0.tar.xz">dolphin-plugins-22.12.0</a></td>
   <td align="right">262kB</td>
   <td><tt>cd5e487d2bd925b010e7e6a45a907c2a412c46a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/dragon-22.12.0.tar.xz">dragon-22.12.0</a></td>
   <td align="right">1636kB</td>
   <td><tt>45abfb95f58ad638f6ef9f98ca5a2af1e8b02771</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/elisa-22.12.0.tar.xz">elisa-22.12.0</a></td>
   <td align="right">1755kB</td>
   <td><tt>6c98e9bb46a061db675a3b16b6f1a8b2e8908448</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/eventviews-22.12.0.tar.xz">eventviews-22.12.0</a></td>
   <td align="right">451kB</td>
   <td><tt>96e4b9195fec18afae12788ddfa3012a6fd8fd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/falkon-22.12.0.tar.xz">falkon-22.12.0</a></td>
   <td align="right">2485kB</td>
   <td><tt>05f0a82c0cc0a7d59d3789d5a2eafbdc0fce0d9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ffmpegthumbs-22.12.0.tar.xz">ffmpegthumbs-22.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>7abc2bef7abe2db71bf182024a1f033539db1df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/filelight-22.12.0.tar.xz">filelight-22.12.0</a></td>
   <td align="right">682kB</td>
   <td><tt>7567ffa8911c018441190cddc363389ed558769e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/granatier-22.12.0.tar.xz">granatier-22.12.0</a></td>
   <td align="right">2061kB</td>
   <td><tt>fd551482fc6f2ca5e48956743a2ad7a4d0ae3aa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/grantlee-editor-22.12.0.tar.xz">grantlee-editor-22.12.0</a></td>
   <td align="right">114kB</td>
   <td><tt>116bd4f4471dabfb44139102eab0c5bc4e7324fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/grantleetheme-22.12.0.tar.xz">grantleetheme-22.12.0</a></td>
   <td align="right">60kB</td>
   <td><tt>d88edcaec54fa441d063b82ae4aa15e621da1a9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/gwenview-22.12.0.tar.xz">gwenview-22.12.0</a></td>
   <td align="right">6714kB</td>
   <td><tt>d0ea1848055108030a5b273697cf652090c519e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/incidenceeditor-22.12.0.tar.xz">incidenceeditor-22.12.0</a></td>
   <td align="right">551kB</td>
   <td><tt>80759e9438344ffec1a222194ca60210df4ab532</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/itinerary-22.12.0.tar.xz">itinerary-22.12.0</a></td>
   <td align="right">564kB</td>
   <td><tt>5fdfc81e41ac4445489052e29c7ca5a324b10cf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/juk-22.12.0.tar.xz">juk-22.12.0</a></td>
   <td align="right">2026kB</td>
   <td><tt>d2bf7b9397f397dc852a9f8d8e8ba07b63fd1407</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/k3b-22.12.0.tar.xz">k3b-22.12.0</a></td>
   <td align="right">10689kB</td>
   <td><tt>937e0cad3bc076f0d07abb0691a8c1618f22e117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kaccounts-integration-22.12.0.tar.xz">kaccounts-integration-22.12.0</a></td>
   <td align="right">85kB</td>
   <td><tt>aca72cbba1a3cd127fd66ca88174a04e9d86d843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kaccounts-providers-22.12.0.tar.xz">kaccounts-providers-22.12.0</a></td>
   <td align="right">63kB</td>
   <td><tt>95dd7292c814087d500b5964a9a2dd2ea71ee2c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kaddressbook-22.12.0.tar.xz">kaddressbook-22.12.0</a></td>
   <td align="right">3376kB</td>
   <td><tt>e62f8586bd49d87b8266dd3d5735418c5ca55818</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kajongg-22.12.0.tar.xz">kajongg-22.12.0</a></td>
   <td align="right">4468kB</td>
   <td><tt>d43a2410642b3d419b965adee9b9d58a0ca3067d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kalarm-22.12.0.tar.xz">kalarm-22.12.0</a></td>
   <td align="right">2513kB</td>
   <td><tt>c937d458a6c9cb8111fd990e0fa921afd47abb3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kalendar-22.12.0.tar.xz">kalendar-22.12.0</a></td>
   <td align="right">781kB</td>
   <td><tt>bfcc50c90af7018c9171ace5b8e30041799c136f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kalgebra-22.12.0.tar.xz">kalgebra-22.12.0</a></td>
   <td align="right">1009kB</td>
   <td><tt>2cf57f274d499f602af6eb3b748bf78279af50fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kalzium-22.12.0.tar.xz">kalzium-22.12.0</a></td>
   <td align="right">24063kB</td>
   <td><tt>9fac667761aeb03b165eefd8099e2535aebdecf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kamera-22.12.0.tar.xz">kamera-22.12.0</a></td>
   <td align="right">128kB</td>
   <td><tt>2195a262b5b75cfc42cd48f15523144b98abfb30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kamoso-22.12.0.tar.xz">kamoso-22.12.0</a></td>
   <td align="right">223kB</td>
   <td><tt>3cc57a34994e520d42b7afed3faa2351a713205c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kanagram-22.12.0.tar.xz">kanagram-22.12.0</a></td>
   <td align="right">7871kB</td>
   <td><tt>1ad62dc6f8d458db6eb8424bb9699c1399f34eea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kapman-22.12.0.tar.xz">kapman-22.12.0</a></td>
   <td align="right">2422kB</td>
   <td><tt>7044f7950fed7cbc4c3311532ead9356c5791ab8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kapptemplate-22.12.0.tar.xz">kapptemplate-22.12.0</a></td>
   <td align="right">330kB</td>
   <td><tt>8a7e31bde7d180190c10fd0a5044d0f2ee0256ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kate-22.12.0.tar.xz">kate-22.12.0</a></td>
   <td align="right">7688kB</td>
   <td><tt>4320db8a80dd8a8597eb21d2b719ef01ce59be6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/katomic-22.12.0.tar.xz">katomic-22.12.0</a></td>
   <td align="right">1416kB</td>
   <td><tt>73f9e385371f586bfacc246f91250d3f30a42a9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kbackup-22.12.0.tar.xz">kbackup-22.12.0</a></td>
   <td align="right">385kB</td>
   <td><tt>f8ff33c277215d3bf2d54ddaed4b27cacad22c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kblackbox-22.12.0.tar.xz">kblackbox-22.12.0</a></td>
   <td align="right">536kB</td>
   <td><tt>50d6afa68a5dbba0ae904700b274650c87c6661b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kblocks-22.12.0.tar.xz">kblocks-22.12.0</a></td>
   <td align="right">2058kB</td>
   <td><tt>cd33c3466d3334b50fe7146e1fc7c2d22fc4c2a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kbounce-22.12.0.tar.xz">kbounce-22.12.0</a></td>
   <td align="right">3459kB</td>
   <td><tt>d803b287b75c4c9285bfaa9e25fd20d566f2638d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kbreakout-22.12.0.tar.xz">kbreakout-22.12.0</a></td>
   <td align="right">2497kB</td>
   <td><tt>52daea660afb83a8dae4cdecbdfc891ec308f27c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kbruch-22.12.0.tar.xz">kbruch-22.12.0</a></td>
   <td align="right">5522kB</td>
   <td><tt>6fa05b3d4b0f72bbefd752e88c867ab011b206b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcachegrind-22.12.0.tar.xz">kcachegrind-22.12.0</a></td>
   <td align="right">887kB</td>
   <td><tt>f27b75c9629ba576311eeffdf0a9a7ec261ae561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcalc-22.12.0.tar.xz">kcalc-22.12.0</a></td>
   <td align="right">423kB</td>
   <td><tt>9113abb19dd398a43b5983da7360dd570ad4dbd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcalutils-22.12.0.tar.xz">kcalutils-22.12.0</a></td>
   <td align="right">349kB</td>
   <td><tt>78c910e144e10c09648a032ab1124a3f0b9ca1b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcharselect-22.12.0.tar.xz">kcharselect-22.12.0</a></td>
   <td align="right">372kB</td>
   <td><tt>b45a4fd74296f9048d1be7baa721203e611188e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcolorchooser-22.12.0.tar.xz">kcolorchooser-22.12.0</a></td>
   <td align="right">31kB</td>
   <td><tt>665433edd30c24a42a1ac438e44c28fc98582095</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kcron-22.12.0.tar.xz">kcron-22.12.0</a></td>
   <td align="right">919kB</td>
   <td><tt>d0dc9736c14d6090a89b1422a6a9d2f5d3b2c000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdebugsettings-22.12.0.tar.xz">kdebugsettings-22.12.0</a></td>
   <td align="right">93kB</td>
   <td><tt>65169e82cd6ff0a09e238208398c0adc8475869c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdeconnect-kde-22.12.0.tar.xz">kdeconnect-kde-22.12.0</a></td>
   <td align="right">619kB</td>
   <td><tt>a4516bb41a973425a95503bfe028f404230e7c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kde-dev-scripts-22.12.0.tar.xz">kde-dev-scripts-22.12.0</a></td>
   <td align="right">359kB</td>
   <td><tt>2bd8546d09cbb10b3684455e8a2442b3b52c6369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kde-dev-utils-22.12.0.tar.xz">kde-dev-utils-22.12.0</a></td>
   <td align="right">69kB</td>
   <td><tt>8e12f1f958caa317965a8bc2d26adcda946c7903</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdeedu-data-22.12.0.tar.xz">kdeedu-data-22.12.0</a></td>
   <td align="right">325kB</td>
   <td><tt>a6f63ae5656b5650d15935cc17346bb03abffe55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdegraphics-mobipocket-22.12.0.tar.xz">kdegraphics-mobipocket-22.12.0</a></td>
   <td align="right">12kB</td>
   <td><tt>02dc8baa5dd5c91c6a47dd120a4840a2e0114a87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdegraphics-thumbnailers-22.12.0.tar.xz">kdegraphics-thumbnailers-22.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>c8eae258955c89f872c23d804202aef63f22e8bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdenetwork-filesharing-22.12.0.tar.xz">kdenetwork-filesharing-22.12.0</a></td>
   <td align="right">448kB</td>
   <td><tt>a174b2944f32c8611484bb7c2a37887fe37e89be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdenlive-22.12.0.tar.xz">kdenlive-22.12.0</a></td>
   <td align="right">12230kB</td>
   <td><tt>15732dc1d46aa13dd0e0973ce1dc5c55c568b338</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdepim-addons-22.12.0.tar.xz">kdepim-addons-22.12.0</a></td>
   <td align="right">2600kB</td>
   <td><tt>4adbce614012abb299b0c55d129ca8c75dc38231</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdepim-runtime-22.12.0.tar.xz">kdepim-runtime-22.12.0</a></td>
   <td align="right">1811kB</td>
   <td><tt>ac1e7de99ecd947ced8a938a56019028b7dd8aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdesdk-kio-22.12.0.tar.xz">kdesdk-kio-22.12.0</a></td>
   <td align="right">39kB</td>
   <td><tt>53c06907e54d44d55614c33c4cd415f7cc8ffb47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdesdk-thumbnailers-22.12.0.tar.xz">kdesdk-thumbnailers-22.12.0</a></td>
   <td align="right">26kB</td>
   <td><tt>17bcbcbeacebd30d0ede5407cbfbcf7fc861fe8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdevelop-22.12.0.tar.xz">kdevelop-22.12.0</a></td>
   <td align="right">8421kB</td>
   <td><tt>4ac21cc97d02283b58c085e96dd1787eb5d8d2b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdev-php-22.12.0.tar.xz">kdev-php-22.12.0</a></td>
   <td align="right">1057kB</td>
   <td><tt>d15c39b04e854c9cb8f292651651c555bc249d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdev-python-22.12.0.tar.xz">kdev-python-22.12.0</a></td>
   <td align="right">1065kB</td>
   <td><tt>848fd54e0e0f42189df0d3055f1785a88ddfd612</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdf-22.12.0.tar.xz">kdf-22.12.0</a></td>
   <td align="right">481kB</td>
   <td><tt>50fd204a055e480c5bde3140faf9bf46cbf4ea44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdialog-22.12.0.tar.xz">kdialog-22.12.0</a></td>
   <td align="right">135kB</td>
   <td><tt>d013ca2c0dd6dc0d8c653d3d2912dff663b46d10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kdiamond-22.12.0.tar.xz">kdiamond-22.12.0</a></td>
   <td align="right">4597kB</td>
   <td><tt>b573509a16fe7faa041e1bd6c683472e8f95b3d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/keditbookmarks-22.12.0.tar.xz">keditbookmarks-22.12.0</a></td>
   <td align="right">230kB</td>
   <td><tt>015c874d80214db6edbb61374f3181feaa96515a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kfind-22.12.0.tar.xz">kfind-22.12.0</a></td>
   <td align="right">331kB</td>
   <td><tt>a18d287832feb4d698b6eeb872f47dd912b04e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kfloppy-22.12.0.tar.xz">kfloppy-22.12.0</a></td>
   <td align="right">234kB</td>
   <td><tt>eec615ffb8faa380f20930fe6fe8bc8774d0b59e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kfourinline-22.12.0.tar.xz">kfourinline-22.12.0</a></td>
   <td align="right">718kB</td>
   <td><tt>254c718715625a5e07080a41acda3b9cc5aab934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kgeography-22.12.0.tar.xz">kgeography-22.12.0</a></td>
   <td align="right">12259kB</td>
   <td><tt>d1a66ea63048980f823999f18efcf17e55971ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kget-22.12.0.tar.xz">kget-22.12.0</a></td>
   <td align="right">5429kB</td>
   <td><tt>d410629c32bf83a8ecc71b0463242948ed76cca3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kgoldrunner-22.12.0.tar.xz">kgoldrunner-22.12.0</a></td>
   <td align="right">4786kB</td>
   <td><tt>005c3bb9bcdc5b1870570fea3c54e62491392937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kgpg-22.12.0.tar.xz">kgpg-22.12.0</a></td>
   <td align="right">2965kB</td>
   <td><tt>55621bb333bb7a0d9c0a9d23f627e6e513304536</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/khangman-22.12.0.tar.xz">khangman-22.12.0</a></td>
   <td align="right">7268kB</td>
   <td><tt>d7fdb1dbc386fd419a7e211494a8b11fcfd02424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/khelpcenter-22.12.0.tar.xz">khelpcenter-22.12.0</a></td>
   <td align="right">4264kB</td>
   <td><tt>7455d35108b155b8330ff43506c2cc922cbc0605</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kidentitymanagement-22.12.0.tar.xz">kidentitymanagement-22.12.0</a></td>
   <td align="right">158kB</td>
   <td><tt>28af7c9cfa59f1d114baad95c172212097fcb181</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kig-22.12.0.tar.xz">kig-22.12.0</a></td>
   <td align="right">3197kB</td>
   <td><tt>a8600246558b7e02413c347d73d9a085f1b5e09a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kigo-22.12.0.tar.xz">kigo-22.12.0</a></td>
   <td align="right">5140kB</td>
   <td><tt>846d5bc611674858d08b8affa75382753f04c007</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/killbots-22.12.0.tar.xz">killbots-22.12.0</a></td>
   <td align="right">1173kB</td>
   <td><tt>817cfba90e7ba1225d4bfa364f40db3b42ff6355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kimagemapeditor-22.12.0.tar.xz">kimagemapeditor-22.12.0</a></td>
   <td align="right">1076kB</td>
   <td><tt>27912b62ba1f9bcaa6cc41f62520ec8130a13153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kimap-22.12.0.tar.xz">kimap-22.12.0</a></td>
   <td align="right">128kB</td>
   <td><tt>017344de7a6a45e92b03ad7489980c182d34d56a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kio-extras-22.12.0.tar.xz">kio-extras-22.12.0</a></td>
   <td align="right">1362kB</td>
   <td><tt>d55105c128f7f02c02c02589bf624954d9cd3cbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kio-gdrive-22.12.0.tar.xz">kio-gdrive-22.12.0</a></td>
   <td align="right">75kB</td>
   <td><tt>a60bd76bdb5b91c127c2e176aaa69545815df18a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kio-zeroconf-22.12.0.tar.xz">kio-zeroconf-22.12.0</a></td>
   <td align="right">41kB</td>
   <td><tt>08af21a9c283087330b0093ba75a5c6ce44417da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kipi-plugins-22.12.0.tar.xz">kipi-plugins-22.12.0</a></td>
   <td align="right">1522kB</td>
   <td><tt>f18c3c9601f69127052f3513c79fb4a2a09e83a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kirigami-gallery-22.12.0.tar.xz">kirigami-gallery-22.12.0</a></td>
   <td align="right">336kB</td>
   <td><tt>6d0dd9ffd2d388f430c36c5fb52a7a055334b60a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kiriki-22.12.0.tar.xz">kiriki-22.12.0</a></td>
   <td align="right">360kB</td>
   <td><tt>f0d46cc515924e2e2a5e5a29f62137523c40397d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kiten-22.12.0.tar.xz">kiten-22.12.0</a></td>
   <td align="right">11066kB</td>
   <td><tt>28eb3893dfdd0f4a674b506281fda236c30e8df3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kitinerary-22.12.0.tar.xz">kitinerary-22.12.0</a></td>
   <td align="right">1678kB</td>
   <td><tt>55f762d1cbfa3e005fd5a9943bf2ff8d20edb759</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kjumpingcube-22.12.0.tar.xz">kjumpingcube-22.12.0</a></td>
   <td align="right">326kB</td>
   <td><tt>71595421babd959e18b8899cf945cb3000a56dc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kldap-22.12.0.tar.xz">kldap-22.12.0</a></td>
   <td align="right">177kB</td>
   <td><tt>b1fb453335a6e6605459662d7825c24f6a2988cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kleopatra-22.12.0.tar.xz">kleopatra-22.12.0</a></td>
   <td align="right">2508kB</td>
   <td><tt>cb8bbee6eac77ca89d88f4b7f02f74e3d09ff373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/klettres-22.12.0.tar.xz">klettres-22.12.0</a></td>
   <td align="right">46717kB</td>
   <td><tt>187aabcda1179defaca926d12598042753050245</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/klickety-22.12.0.tar.xz">klickety-22.12.0</a></td>
   <td align="right">1463kB</td>
   <td><tt>9076d7fab6029904f6e76ca3152d65108a54047a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/klines-22.12.0.tar.xz">klines-22.12.0</a></td>
   <td align="right">1697kB</td>
   <td><tt>643a96941661e7d70a32fba02f00b804dc6b7f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmag-22.12.0.tar.xz">kmag-22.12.0</a></td>
   <td align="right">705kB</td>
   <td><tt>1fab7bf78c7eadede03959f58e4d51566285055f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmahjongg-22.12.0.tar.xz">kmahjongg-22.12.0</a></td>
   <td align="right">3998kB</td>
   <td><tt>621279167935411a0cbe783cd6ec587d8cc2d29c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmail-22.12.0.tar.xz">kmail-22.12.0</a></td>
   <td align="right">7476kB</td>
   <td><tt>1a33489462849ceeb9fbca1f0bdd0acf70a1497d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmail-account-wizard-22.12.0.tar.xz">kmail-account-wizard-22.12.0</a></td>
   <td align="right">177kB</td>
   <td><tt>87dd5e8c5b78c8f8dd63c0499ddddf8307d606be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmailtransport-22.12.0.tar.xz">kmailtransport-22.12.0</a></td>
   <td align="right">184kB</td>
   <td><tt>23ebcdbd8d623e6333b619a43bd3a8f84b186acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmbox-22.12.0.tar.xz">kmbox-22.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>a5712daed02807bdf90abbec47d4f85a05f02844</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmime-22.12.0.tar.xz">kmime-22.12.0</a></td>
   <td align="right">158kB</td>
   <td><tt>14b2584c1dae4b07aae6bd5840bd6ec139c496f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmines-22.12.0.tar.xz">kmines-22.12.0</a></td>
   <td align="right">984kB</td>
   <td><tt>44d6e39a97e5138937636f53c6a4ce7fd058555e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmix-22.12.0.tar.xz">kmix-22.12.0</a></td>
   <td align="right">1165kB</td>
   <td><tt>4401a85d81b9a7fb472b6046f70f0a356a3aaf14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmousetool-22.12.0.tar.xz">kmousetool-22.12.0</a></td>
   <td align="right">126kB</td>
   <td><tt>53866dd3e3d8a099911a007968886e009d250132</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmouth-22.12.0.tar.xz">kmouth-22.12.0</a></td>
   <td align="right">2038kB</td>
   <td><tt>37a21d42373877005bd43a78e064b977565ea9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kmplot-22.12.0.tar.xz">kmplot-22.12.0</a></td>
   <td align="right">3025kB</td>
   <td><tt>457d94f694e6a20b3254d73a12e5697b9346d89b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/knavalbattle-22.12.0.tar.xz">knavalbattle-22.12.0</a></td>
   <td align="right">1366kB</td>
   <td><tt>d263567afc8454cadad6b4bca4733ac84d19398f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/knetwalk-22.12.0.tar.xz">knetwalk-22.12.0</a></td>
   <td align="right">1077kB</td>
   <td><tt>80c65786b9a296e53a890d1b4cd22f4ae307a97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/knights-22.12.0.tar.xz">knights-22.12.0</a></td>
   <td align="right">3250kB</td>
   <td><tt>ee3d3b12d67809b44f13f2c5fc70065015ef239a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/knotes-22.12.0.tar.xz">knotes-22.12.0</a></td>
   <td align="right">365kB</td>
   <td><tt>e7ce58070cd7734e602246fe7aad9d0910018d21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kolf-22.12.0.tar.xz">kolf-22.12.0</a></td>
   <td align="right">1043kB</td>
   <td><tt>a5505b0b119e74ded67d085520ae57bd52fb5e18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kollision-22.12.0.tar.xz">kollision-22.12.0</a></td>
   <td align="right">299kB</td>
   <td><tt>25273d8841fd3bf5b587a23737d2fedfe44516b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kolourpaint-22.12.0.tar.xz">kolourpaint-22.12.0</a></td>
   <td align="right">5648kB</td>
   <td><tt>cbdd85bfc24db39449dcd976e4c8b4baa37ccb22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kompare-22.12.0.tar.xz">kompare-22.12.0</a></td>
   <td align="right">954kB</td>
   <td><tt>78ee2dd703ef325bad4c20f1a77fcf54f9de767b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/konqueror-22.12.0.tar.xz">konqueror-22.12.0</a></td>
   <td align="right">8268kB</td>
   <td><tt>c3bc7f451ffc29d1ee20508151e3497b2a3fdcea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/konquest-22.12.0.tar.xz">konquest-22.12.0</a></td>
   <td align="right">854kB</td>
   <td><tt>704fbc0e7eacb81eb1e6e17dee6b5b314be42540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/konsole-22.12.0.tar.xz">konsole-22.12.0</a></td>
   <td align="right">1730kB</td>
   <td><tt>f14a35139bd94154a541bb18ae18f6f539c76555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kontact-22.12.0.tar.xz">kontact-22.12.0</a></td>
   <td align="right">849kB</td>
   <td><tt>91b58c8ea3228626d858ab4a32b6073f086ab87c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kontactinterface-22.12.0.tar.xz">kontactinterface-22.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>931e15a8d8dab71425fe223d1163cf81bb5782c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kontrast-22.12.0.tar.xz">kontrast-22.12.0</a></td>
   <td align="right">195kB</td>
   <td><tt>e3b6b1574fcb3b30ddc7ef45411f9223077dad46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/konversation-22.12.0.tar.xz">konversation-22.12.0</a></td>
   <td align="right">4343kB</td>
   <td><tt>0eb743cf22f42fd2116759aac1bfd385096ee237</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kopeninghours-22.12.0.tar.xz">kopeninghours-22.12.0</a></td>
   <td align="right">69kB</td>
   <td><tt>c264a971536b33def8758c63a207134c8aae5105</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kopete-22.12.0.tar.xz">kopete-22.12.0</a></td>
   <td align="right">10033kB</td>
   <td><tt>6069c00117614e7ea62d5e649ce162944e9a818a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/korganizer-22.12.0.tar.xz">korganizer-22.12.0</a></td>
   <td align="right">2511kB</td>
   <td><tt>77a179ff21aff946e8556fa1d8dbbe208ab39473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kosmindoormap-22.12.0.tar.xz">kosmindoormap-22.12.0</a></td>
   <td align="right">354kB</td>
   <td><tt>1cfc28ff235780e52bd1f624cba7fba53e480748</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kpat-22.12.0.tar.xz">kpat-22.12.0</a></td>
   <td align="right">3662kB</td>
   <td><tt>2f5717f65b4c6ce41087352b2062c279e02a30bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kpimtextedit-22.12.0.tar.xz">kpimtextedit-22.12.0</a></td>
   <td align="right">218kB</td>
   <td><tt>f555e728ffba2821564f7bd066491c5206841147</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kpkpass-22.12.0.tar.xz">kpkpass-22.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>9d71ec107dbe93034bbcc010111eed627026f5a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kpmcore-22.12.0.tar.xz">kpmcore-22.12.0</a></td>
   <td align="right">602kB</td>
   <td><tt>e7bd3c209c2c85c3329723cc5b4c412a15bcd89a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kpublictransport-22.12.0.tar.xz">kpublictransport-22.12.0</a></td>
   <td align="right">478kB</td>
   <td><tt>00dd337c3fc82d621685cbdb7e3fe07851b82d40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kqtquickcharts-22.12.0.tar.xz">kqtquickcharts-22.12.0</a></td>
   <td align="right">30kB</td>
   <td><tt>254e25d5da3ed6a00db83300fa8c4e6f30cd5b9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/krdc-22.12.0.tar.xz">krdc-22.12.0</a></td>
   <td align="right">1589kB</td>
   <td><tt>1ea9b16d3b5f1ea4e78938246729afb961004e2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kreversi-22.12.0.tar.xz">kreversi-22.12.0</a></td>
   <td align="right">1051kB</td>
   <td><tt>0e32abc56984385edf546d226e66750d71b6d165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/krfb-22.12.0.tar.xz">krfb-22.12.0</a></td>
   <td align="right">1290kB</td>
   <td><tt>1d44ab55224846d753c0d291e1e869ef84cf54c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kross-interpreters-22.12.0.tar.xz">kross-interpreters-22.12.0</a></td>
   <td align="right">148kB</td>
   <td><tt>5ea0d3f4e942d1199214177e98f527e501ac9620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kruler-22.12.0.tar.xz">kruler-22.12.0</a></td>
   <td align="right">279kB</td>
   <td><tt>a2cb5a5d20c81057cd60720f3029804174177ec4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksanecore-22.12.0.tar.xz">ksanecore-22.12.0</a></td>
   <td align="right">45kB</td>
   <td><tt>2078e94de5846c89e7193bea7ed52d328f58bbfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kshisen-22.12.0.tar.xz">kshisen-22.12.0</a></td>
   <td align="right">982kB</td>
   <td><tt>ec5fa42176adc94092038d8f04ea589400d31d87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksirk-22.12.0.tar.xz">ksirk-22.12.0</a></td>
   <td align="right">6880kB</td>
   <td><tt>1203413a34fedddb2dfa8e8fd71d8e3e16a2d94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksmtp-22.12.0.tar.xz">ksmtp-22.12.0</a></td>
   <td align="right">48kB</td>
   <td><tt>e950531f598b9baebd6dab290112ec4b36bb26ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksnakeduel-22.12.0.tar.xz">ksnakeduel-22.12.0</a></td>
   <td align="right">596kB</td>
   <td><tt>49dc7626ae0bf20d97ec2a2e61ae715fe838d108</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kspaceduel-22.12.0.tar.xz">kspaceduel-22.12.0</a></td>
   <td align="right">644kB</td>
   <td><tt>5bb1ebebbb430be498fb1f477d51ed894aadecdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksquares-22.12.0.tar.xz">ksquares-22.12.0</a></td>
   <td align="right">304kB</td>
   <td><tt>843e5657882744248d5b97a7363e4e0fc6ed0956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksudoku-22.12.0.tar.xz">ksudoku-22.12.0</a></td>
   <td align="right">1661kB</td>
   <td><tt>b6d931be32935ccd8623195d907045b9d052e0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ksystemlog-22.12.0.tar.xz">ksystemlog-22.12.0</a></td>
   <td align="right">1950kB</td>
   <td><tt>f567962cf65c0a5696af2faf4e9cc556d21a7f3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kteatime-22.12.0.tar.xz">kteatime-22.12.0</a></td>
   <td align="right">305kB</td>
   <td><tt>fb523d45f21e2f15410ce00507b01b9e807004f8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktimer-22.12.0.tar.xz">ktimer-22.12.0</a></td>
   <td align="right">391kB</td>
   <td><tt>9ab3c2d2863d91fdf8e0fcccaf94c9ed76553cfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktnef-22.12.0.tar.xz">ktnef-22.12.0</a></td>
   <td align="right">300kB</td>
   <td><tt>9b63e1adcf395b5ae6fc3c4e502008ad95a2104e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktorrent-22.12.0.tar.xz">ktorrent-22.12.0</a></td>
   <td align="right">2085kB</td>
   <td><tt>49791c581f0239d6387c22acae5ec3959791371f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktouch-22.12.0.tar.xz">ktouch-22.12.0</a></td>
   <td align="right">4915kB</td>
   <td><tt>6a829590f8fb7d32e08b47f052272805b8bbbf79</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-accounts-kcm-22.12.0.tar.xz">ktp-accounts-kcm-22.12.0</a></td>
   <td align="right">269kB</td>
   <td><tt>d62908b9f001b3166f1ae7bb6b3a3c7d2fd85ec6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-approver-22.12.0.tar.xz">ktp-approver-22.12.0</a></td>
   <td align="right">38kB</td>
   <td><tt>6fb44478241b16fbb5a1513da629c33161b92d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-auth-handler-22.12.0.tar.xz">ktp-auth-handler-22.12.0</a></td>
   <td align="right">47kB</td>
   <td><tt>aab58e5dd71be5bb451638ad79764540cc371cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-call-ui-22.12.0.tar.xz">ktp-call-ui-22.12.0</a></td>
   <td align="right">101kB</td>
   <td><tt>d88cef886389ee480ff10c4d2bc6a8ff34f7d34b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-common-internals-22.12.0.tar.xz">ktp-common-internals-22.12.0</a></td>
   <td align="right">445kB</td>
   <td><tt>84c6e37e4f1bcd6debd1645cdbec5aa93dfb9c6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-contact-list-22.12.0.tar.xz">ktp-contact-list-22.12.0</a></td>
   <td align="right">155kB</td>
   <td><tt>196a271752c0b54e80507e52512c2b9fccdacfab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-contact-runner-22.12.0.tar.xz">ktp-contact-runner-22.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>b1680f4b36d0c33c97bdec45c84f9bdd38732d62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-desktop-applets-22.12.0.tar.xz">ktp-desktop-applets-22.12.0</a></td>
   <td align="right">44kB</td>
   <td><tt>be65b1c4526d883f2149aa9733542fe8dc4034cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-filetransfer-handler-22.12.0.tar.xz">ktp-filetransfer-handler-22.12.0</a></td>
   <td align="right">46kB</td>
   <td><tt>68c7470314586a58a9e2d2d1007f5b599c8b0ef8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-kded-module-22.12.0.tar.xz">ktp-kded-module-22.12.0</a></td>
   <td align="right">100kB</td>
   <td><tt>8991a97947f022334909a81ad719e61279bbc9c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-send-file-22.12.0.tar.xz">ktp-send-file-22.12.0</a></td>
   <td align="right">28kB</td>
   <td><tt>fa220fe8824a7a9e65c6227185b0c7c23b26a699</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktp-text-ui-22.12.0.tar.xz">ktp-text-ui-22.12.0</a></td>
   <td align="right">471kB</td>
   <td><tt>1c7778f98c6d8625e19404a76b9afa1d075bace5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/ktuberling-22.12.0.tar.xz">ktuberling-22.12.0</a></td>
   <td align="right">69728kB</td>
   <td><tt>84c982a95649e3b2cfc323a045aad9041c191dfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kturtle-22.12.0.tar.xz">kturtle-22.12.0</a></td>
   <td align="right">1952kB</td>
   <td><tt>4e88bc0042642fbd5f04d8edfdc6feb7dd0a41a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kubrick-22.12.0.tar.xz">kubrick-22.12.0</a></td>
   <td align="right">339kB</td>
   <td><tt>436ab60e24a8a264a5eed0a32f28ba507a46698d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kwalletmanager-22.12.0.tar.xz">kwalletmanager-22.12.0</a></td>
   <td align="right">819kB</td>
   <td><tt>91fc3a38c060ffa8f0be9837bfedad6852e03762</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kwave-22.12.0.tar.xz">kwave-22.12.0</a></td>
   <td align="right">6801kB</td>
   <td><tt>c6c48a72565c72b1f2b12bf0210d70fa10667bdd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/kwordquiz-22.12.0.tar.xz">kwordquiz-22.12.0</a></td>
   <td align="right">4157kB</td>
   <td><tt>6f77e0d1ef03e424677e28a678ba2e967dc738ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libgravatar-22.12.0.tar.xz">libgravatar-22.12.0</a></td>
   <td align="right">35kB</td>
   <td><tt>1e5e8bf18680cfb7ebeef17691f5d5ee9b7284ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkcddb-22.12.0.tar.xz">libkcddb-22.12.0</a></td>
   <td align="right">447kB</td>
   <td><tt>ce4a8c18a22e156990e7a9a87caa9e06e6c94ce2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkcompactdisc-22.12.0.tar.xz">libkcompactdisc-22.12.0</a></td>
   <td align="right">96kB</td>
   <td><tt>e0738c4f935055cbe8d521cd003686e6a5ed0b8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkdcraw-22.12.0.tar.xz">libkdcraw-22.12.0</a></td>
   <td align="right">36kB</td>
   <td><tt>7c81fccb846b3e756a9a79bdae678f39971d64c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkdegames-22.12.0.tar.xz">libkdegames-22.12.0</a></td>
   <td align="right">5882kB</td>
   <td><tt>72a3e056f5674d530ad8f434c4f635d1d0dbb38c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkdepim-22.12.0.tar.xz">libkdepim-22.12.0</a></td>
   <td align="right">279kB</td>
   <td><tt>9d1cb16483bb5afd52028776605fa83fc1fe2164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkeduvocdocument-22.12.0.tar.xz">libkeduvocdocument-22.12.0</a></td>
   <td align="right">224kB</td>
   <td><tt>05f0a31cae3d93cf0c87bbb3d3241d0b359fcebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkexiv2-22.12.0.tar.xz">libkexiv2-22.12.0</a></td>
   <td align="right">58kB</td>
   <td><tt>beb9c8e34abb28ccea37a7800da6026efa6573c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkgapi-22.12.0.tar.xz">libkgapi-22.12.0</a></td>
   <td align="right">238kB</td>
   <td><tt>d62c8bfd706bcd74198f3d16d7a9bda7ed635726</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkipi-22.12.0.tar.xz">libkipi-22.12.0</a></td>
   <td align="right">86kB</td>
   <td><tt>f495630593f45e3e3101eb5d630320a2b4c95309</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkleo-22.12.0.tar.xz">libkleo-22.12.0</a></td>
   <td align="right">495kB</td>
   <td><tt>e66808a439de0c68b705cc7aa7d0f785117c22fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkmahjongg-22.12.0.tar.xz">libkmahjongg-22.12.0</a></td>
   <td align="right">1647kB</td>
   <td><tt>b4908188c8aea79a0ff1c152281beda2a009e580</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libkomparediff2-22.12.0.tar.xz">libkomparediff2-22.12.0</a></td>
   <td align="right">181kB</td>
   <td><tt>42211966ac899b30426c9f0e1c852b38b806c279</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libksane-22.12.0.tar.xz">libksane-22.12.0</a></td>
   <td align="right">149kB</td>
   <td><tt>b30e5acd8d1b7e3cf09c80d2eae28fb2cb52da70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libksieve-22.12.0.tar.xz">libksieve-22.12.0</a></td>
   <td align="right">540kB</td>
   <td><tt>5483764f74734b82d2ea29fb4d08692086466a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/libktorrent-22.12.0.tar.xz">libktorrent-22.12.0</a></td>
   <td align="right">602kB</td>
   <td><tt>0afd1d144e260d4cb183bbcc3d2adc56bda5d47d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/lokalize-22.12.0.tar.xz">lokalize-22.12.0</a></td>
   <td align="right">2065kB</td>
   <td><tt>ffe3fcd7964d9a95f6446d17cfcc0a8f9e03791c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/lskat-22.12.0.tar.xz">lskat-22.12.0</a></td>
   <td align="right">1219kB</td>
   <td><tt>5b85e9c655cc0890471c2ca579b1cc03ce384325</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/mailcommon-22.12.0.tar.xz">mailcommon-22.12.0</a></td>
   <td align="right">739kB</td>
   <td><tt>6f3e3e5e08a5c99c94bf922c85fe1105f897ac86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/mailimporter-22.12.0.tar.xz">mailimporter-22.12.0</a></td>
   <td align="right">574kB</td>
   <td><tt>6ce5c7d68a8e7591fe303ece0a95b7dc3a85c606</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/marble-22.12.0.tar.xz">marble-22.12.0</a></td>
   <td align="right">52487kB</td>
   <td><tt>efa82ef3ea6731af0b394f14bcbe270a56436432</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/markdownpart-22.12.0.tar.xz">markdownpart-22.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>e779e587cb850d4faa8c8f68d7c00bd8ba06477f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/mbox-importer-22.12.0.tar.xz">mbox-importer-22.12.0</a></td>
   <td align="right">29kB</td>
   <td><tt>41f52b7e3597b600026b55d9a84b28ef1d4d59aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/messagelib-22.12.0.tar.xz">messagelib-22.12.0</a></td>
   <td align="right">11043kB</td>
   <td><tt>127b431faff68114b6b98dfd58404f54c6a31100</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/minuet-22.12.0.tar.xz">minuet-22.12.0</a></td>
   <td align="right">27031kB</td>
   <td><tt>c078f6f684b258815ca342587db02339499e6f6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/okular-22.12.0.tar.xz">okular-22.12.0</a></td>
   <td align="right">8179kB</td>
   <td><tt>2b18bb66d640d958417ea84507680aced017e497</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/palapeli-22.12.0.tar.xz">palapeli-22.12.0</a></td>
   <td align="right">2060kB</td>
   <td><tt>ba5757e4354c27b42f72cf8dbb9effe39d106e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/parley-22.12.0.tar.xz">parley-22.12.0</a></td>
   <td align="right">8391kB</td>
   <td><tt>c74d9d83c7ba9597589a95ac8a226a5c4d650b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/partitionmanager-22.12.0.tar.xz">partitionmanager-22.12.0</a></td>
   <td align="right">2074kB</td>
   <td><tt>0bc097f45e781512c30891c5bb603c76ea10c202</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/picmi-22.12.0.tar.xz">picmi-22.12.0</a></td>
   <td align="right">1503kB</td>
   <td><tt>66c356a6f6fc28e16f5370912c90bc8e0cb1816b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/pimcommon-22.12.0.tar.xz">pimcommon-22.12.0</a></td>
   <td align="right">408kB</td>
   <td><tt>e6b5df34b3fad2dc93d9829cf207668ac7fe1cdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/pim-data-exporter-22.12.0.tar.xz">pim-data-exporter-22.12.0</a></td>
   <td align="right">413kB</td>
   <td><tt>2fd26cb212e3690b82a1c3bc0da6f871dd9382cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/pim-sieve-editor-22.12.0.tar.xz">pim-sieve-editor-22.12.0</a></td>
   <td align="right">451kB</td>
   <td><tt>650f0a020b45007b606e909fa5a1c4d93024ac6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/poxml-22.12.0.tar.xz">poxml-22.12.0</a></td>
   <td align="right">43kB</td>
   <td><tt>05a2e3904caa31390cc47fe64165999c2766fe9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/print-manager-22.12.0.tar.xz">print-manager-22.12.0</a></td>
   <td align="right">280kB</td>
   <td><tt>2575b2006f567dadb64b36fedc49bb76075d7a34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/rocs-22.12.0.tar.xz">rocs-22.12.0</a></td>
   <td align="right">1528kB</td>
   <td><tt>7a1d33372ecc15971369252f0914f1735d1cf9f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/signon-kwallet-extension-22.12.0.tar.xz">signon-kwallet-extension-22.12.0</a></td>
   <td align="right">10kB</td>
   <td><tt>d683fd3ec70b30ad62ac939f7a04b6cdba7d17aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/skanlite-22.12.0.tar.xz">skanlite-22.12.0</a></td>
   <td align="right">2386kB</td>
   <td><tt>ec5a61e24bf8df84deca973b81a32b2d078b266a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/skanpage-22.12.0.tar.xz">skanpage-22.12.0</a></td>
   <td align="right">1264kB</td>
   <td><tt>74cb1260333f68943ea71763fa42dea00dcd6348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/spectacle-22.12.0.tar.xz">spectacle-22.12.0</a></td>
   <td align="right">1240kB</td>
   <td><tt>2e4680536b984c6ea54bbd73bfaa4c495948cf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/step-22.12.0.tar.xz">step-22.12.0</a></td>
   <td align="right">956kB</td>
   <td><tt>5bcb6a513862170a17416516f4aacfa735a3d6f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/svgpart-22.12.0.tar.xz">svgpart-22.12.0</a></td>
   <td align="right">27kB</td>
   <td><tt>3a6761605d495543bf7a5360bc9c118cf47d81e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/sweeper-22.12.0.tar.xz">sweeper-22.12.0</a></td>
   <td align="right">387kB</td>
   <td><tt>fa3b921cc47b3fb0ebc368f0d717ea1e2b1a35d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/umbrello-22.12.0.tar.xz">umbrello-22.12.0</a></td>
   <td align="right">5653kB</td>
   <td><tt>50239ac95e5c74dab8cf0e062deda0f4d5207b1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/yakuake-22.12.0.tar.xz">yakuake-22.12.0</a></td>
   <td align="right">416kB</td>
   <td><tt>81a21f426bfe66825348077cb4059c3050b8cfd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.12.0/src/zanshin-22.12.0.tar.xz">zanshin-22.12.0</a></td>
   <td align="right">345kB</td>
   <td><tt>0197f53f8a61fa2775f9328e640b0439532cc6ff</tt></td>
</tr>

</table>
