<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/bluedevil-5.12.90.tar.xz">bluedevil-5.12.90</a></td>
   <td align="right">145kB</td>
   <td><tt>3d53d0353802aff26966590c8d4e9fd09910c56c8fd0090189a80d74a0d2d9e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/breeze-5.12.90.tar.xz">breeze-5.12.90</a></td>
   <td align="right">23MB</td>
   <td><tt>398cd799c911b7d75c6afbf07a6a821a8a10165b1acbc548dded8b227ad2c189</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/breeze-grub-5.12.90.tar.xz">breeze-grub-5.12.90</a></td>
   <td align="right">2.9MB</td>
   <td><tt>321310529985d32250bcaa523f586088c32bf064be26420b76035b026b9e70df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/breeze-gtk-5.12.90.tar.xz">breeze-gtk-5.12.90</a></td>
   <td align="right">197kB</td>
   <td><tt>0b768a665f6603f96caaec94ae2d0ce2aa30440b50f8d6b71b96dc63b616de05</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/breeze-plymouth-5.12.90.tar.xz">breeze-plymouth-5.12.90</a></td>
   <td align="right">103kB</td>
   <td><tt>6e75a87c6efedc24c4e28f3d4b111526fe8df6701b953a944d2387e18031103e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/discover-5.12.90.tar.xz">discover-5.12.90</a></td>
   <td align="right">9.7MB</td>
   <td><tt>4f408bf3df97e9ceeda3f843a60994d928ffd1c3524d32656dee55e0c5bd2660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/drkonqi-5.12.90.tar.xz">drkonqi-5.12.90</a></td>
   <td align="right">719kB</td>
   <td><tt>e68e4491dd4b2d63164357e92a749a9c97f99a1aa8738bc45501ddd02c9bc291</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kactivitymanagerd-5.12.90.tar.xz">kactivitymanagerd-5.12.90</a></td>
   <td align="right">83kB</td>
   <td><tt>63f99af15513ca7afb35c8b7711ea1b2c094c2705302867b7b2795e6fa95a90b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kde-cli-tools-5.12.90.tar.xz">kde-cli-tools-5.12.90</a></td>
   <td align="right">564kB</td>
   <td><tt>5eb55b4d82192f3cc8ff781b8b01703a35fb8cb22190b708e8a8a991a5339e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kdecoration-5.12.90.tar.xz">kdecoration-5.12.90</a></td>
   <td align="right">40kB</td>
   <td><tt>b1f192eba6b12752b02bcfa9cb6043f4b1e0e084ff4b8d37ec00ed640c29b7b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kde-gtk-config-5.12.90.tar.xz">kde-gtk-config-5.12.90</a></td>
   <td align="right">152kB</td>
   <td><tt>1e7e067ff68c9f5123bb746498dc4b1add55a40fdba162d892e86531859efa55</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kdeplasma-addons-5.12.90.tar.xz">kdeplasma-addons-5.12.90</a></td>
   <td align="right">584kB</td>
   <td><tt>449731d2808b4c2e839ec39325d955eab14d6753ae5c2c8723574b5c8d8058d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kgamma5-5.12.90.tar.xz">kgamma5-5.12.90</a></td>
   <td align="right">75kB</td>
   <td><tt>04585dea926c085813f8d068d6a6dfd203d4a209e2f9a4aec5e47e8cbc4c39bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/khotkeys-5.12.90.tar.xz">khotkeys-5.12.90</a></td>
   <td align="right">1.3MB</td>
   <td><tt>149cec44448be1ef04a4c076c28d8ce28fe1a053c08a24896623783788368030</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kinfocenter-5.12.90.tar.xz">kinfocenter-5.12.90</a></td>
   <td align="right">1.2MB</td>
   <td><tt>30d696eafecf513bd3e260198e0d34e2733e83a7e3834deee1b3ca57307070b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kmenuedit-5.12.90.tar.xz">kmenuedit-5.12.90</a></td>
   <td align="right">641kB</td>
   <td><tt>d2322edcd2acbaf32896ff340d8a4e5fa15cf8d98c9ac9bcabceb5e6f2cdc2c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kscreen-5.12.90.tar.xz">kscreen-5.12.90</a></td>
   <td align="right">109kB</td>
   <td><tt>960ecc39c7715115d4bad5c98ee878804734572202b710fbda39cfac9e8d5c19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kscreenlocker-5.12.90.tar.xz">kscreenlocker-5.12.90</a></td>
   <td align="right">118kB</td>
   <td><tt>69511a292b477668b173dcfe1950b206460c2e7b9d320f39c30bd012e2fccd1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/ksshaskpass-5.12.90.tar.xz">ksshaskpass-5.12.90</a></td>
   <td align="right">20kB</td>
   <td><tt>79c05b98a9a50e534392b16b3d6bc20c2e1ff614d1f68bac70a84cd8270f7985</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/ksysguard-5.12.90.tar.xz">ksysguard-5.12.90</a></td>
   <td align="right">481kB</td>
   <td><tt>5e5fd839878eb4f8d6f7cc97e81dac289ee73aef1bf98994ebd8dc968da47f45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kwallet-pam-5.12.90.tar.xz">kwallet-pam-5.12.90</a></td>
   <td align="right">18kB</td>
   <td><tt>edc3a62e3e641303fa17716a2cf4f2d8aa9258df215e939cbd9a1cb04ef974b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kwayland-integration-5.12.90.tar.xz">kwayland-integration-5.12.90</a></td>
   <td align="right">18kB</td>
   <td><tt>e056f70f98b16efe538e05a939ca98769d67d80bc69da82191cbc95a7feb5476</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kwin-5.12.90.tar.xz">kwin-5.12.90</a></td>
   <td align="right">6.2MB</td>
   <td><tt>3b8c283d47aa3ce86c4cac96f346e22a667cc518a23ec51923cb2e7b5dc066f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/kwrited-5.12.90.tar.xz">kwrited-5.12.90</a></td>
   <td align="right">19kB</td>
   <td><tt>bd25ea44efdf7c28884eb1fb00acdf014de266141d74428b5eab45461036abe8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/libkscreen-5.12.90.tar.xz">libkscreen-5.12.90</a></td>
   <td align="right">76kB</td>
   <td><tt>d606a064d4a97f969f46c3b901d763c378dcfe4b62e3148e7a3c07e366d2672a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/libksysguard-5.12.90.tar.xz">libksysguard-5.12.90</a></td>
   <td align="right">554kB</td>
   <td><tt>159a9c676fd2a0c67e27ad6db1de0de01572b4a2edb4a9f298a4557aff91aebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/milou-5.12.90.tar.xz">milou-5.12.90</a></td>
   <td align="right">56kB</td>
   <td><tt>1129c83648d0d55d488718a918ed75321aa8125a9e35a50adaffc393f8fa5c4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/oxygen-5.12.90.tar.xz">oxygen-5.12.90</a></td>
   <td align="right">4.2MB</td>
   <td><tt>72a2fbaafd1a5a7b595a18b35ac3dcb39238b1a1df836f2b87aa5ce1d7f3fccc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-browser-integration-5.12.90.tar.xz">plasma-browser-integration-5.12.90</a></td>
   <td align="right">90kB</td>
   <td><tt>491aa58a339bf6882d119cfb14a9d9b893eaa1f7f35cf28f19c5afa8b4d11938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-desktop-5.12.90.1.tar.xz">plasma-desktop-5.12.90.1</a></td>
   <td align="right">8.6MB</td>
   <td><tt>d7bf37b745ef47efa2bd19338d45a12d385fdf35d1c4d17f23524147559ddae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-integration-5.12.90.tar.xz">plasma-integration-5.12.90</a></td>
   <td align="right">52kB</td>
   <td><tt>a1f0d1903f73c48e5db1d36f7fc33d11653ba61563e8778d4168d25cd5f3e304</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-nm-5.12.90.tar.xz">plasma-nm-5.12.90</a></td>
   <td align="right">687kB</td>
   <td><tt>a27fedf49c241042d615349a7fbc582f2e243aa253151ca0a6894d083de09d03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-pa-5.12.90.tar.xz">plasma-pa-5.12.90</a></td>
   <td align="right">86kB</td>
   <td><tt>e765a6296982284d288d5877a91d07969c7de69bba08e36225249cc5abec0cda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-sdk-5.12.90.tar.xz">plasma-sdk-5.12.90</a></td>
   <td align="right">241kB</td>
   <td><tt>9a5344156f6059806508474faabf731d2244349c4e0b547a221faa20c3b26509</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-tests-5.12.90.tar.xz">plasma-tests-5.12.90</a></td>
   <td align="right">1kB</td>
   <td><tt>16cc35acb1b8ace4f6afbd7f7b1c08986b110802584a08c54e570afd70e1f7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-vault-5.12.90.tar.xz">plasma-vault-5.12.90</a></td>
   <td align="right">111kB</td>
   <td><tt>c20196020124a9f18400fc591e554e4bd4c6ea60b17bef7b0891afcb72b8ef09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-workspace-5.12.90.tar.xz">plasma-workspace-5.12.90</a></td>
   <td align="right">4.3MB</td>
   <td><tt>b58f8eca82de3da6dbafbc7b1e7807c8f44096b68ae2f0c017dd9a3b9010feb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plasma-workspace-wallpapers-5.12.90.tar.xz">plasma-workspace-wallpapers-5.12.90</a></td>
   <td align="right">43MB</td>
   <td><tt>68089eddbefd6013ad73f4086a19e6cc4fcedd4cd150df3b2043b953ffc802ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/plymouth-kcm-5.12.90.tar.xz">plymouth-kcm-5.12.90</a></td>
   <td align="right">38kB</td>
   <td><tt>114b846e8ff476022d39ab73c15922f0d9888ce00ce9c61be5dac629e0c2dd88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/polkit-kde-agent-1-5.12.90.tar.xz">polkit-kde-agent-1-5.12.90</a></td>
   <td align="right">41kB</td>
   <td><tt>f56da784664cb843263baaf7bb676ffaf7d18ec25526251ee05ddb65727be684</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/powerdevil-5.12.90.tar.xz">powerdevil-5.12.90</a></td>
   <td align="right">524kB</td>
   <td><tt>005e63ee10c1b0df7ee8aac28c6b7704c17c3b2919ba856856307af2d0907e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/sddm-kcm-5.12.90.tar.xz">sddm-kcm-5.12.90</a></td>
   <td align="right">58kB</td>
   <td><tt>8dbbbbf6cdba2196b08373cfe0c3bc1173ac44e5b765cf4f66cc56ab73c846e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/systemsettings-5.12.90.tar.xz">systemsettings-5.12.90</a></td>
   <td align="right">171kB</td>
   <td><tt>ceec4a4865524dbf89629ef8f49b7c062fa6b632ec45b019376da283e0064ec2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/user-manager-5.12.90.tar.xz">user-manager-5.12.90</a></td>
   <td align="right">532kB</td>
   <td><tt>c717916cedead0d446431162d1fa38e088f2967e6daa26a779f97f8663571896</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.12.90/xdg-desktop-portal-kde-5.12.90.tar.xz">xdg-desktop-portal-kde-5.12.90</a></td>
   <td align="right">47kB</td>
   <td><tt>d4b1bad585fa094555cfe7d806d623734c58ac6034f9f801d1cdd89edd3b703c</tt></td>
</tr>

</table>
