
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/attica-5.79.0.tar.xz">attica-5.79.0</a></td>
   <td align="right">64kB</td>
   <td><tt>4415f3a96f0bf8662e8d93847114a10af1466933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/baloo-5.79.0.tar.xz">baloo-5.79.0</a></td>
   <td align="right">283kB</td>
   <td><tt>70f468a71ed095f65b4f3d20885cf02fc7e1afce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/bluez-qt-5.79.0.tar.xz">bluez-qt-5.79.0</a></td>
   <td align="right">99kB</td>
   <td><tt>ff9d1406a72f9da6cadfc1f7c063f6a3ed9ef9ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/breeze-icons-5.79.0.tar.xz">breeze-icons-5.79.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ad9b792122afe3972b5f9a2ced5e5bb813e27bec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/extra-cmake-modules-5.79.0.tar.xz">extra-cmake-modules-5.79.0</a></td>
   <td align="right">348kB</td>
   <td><tt>1754af5c687f2a9426467c300af9eadc49a64872</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/frameworkintegration-5.79.0.tar.xz">frameworkintegration-5.79.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a0598798c1e442740d79d9a1417072b31b57fae0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kactivities-5.79.0.tar.xz">kactivities-5.79.0</a></td>
   <td align="right">70kB</td>
   <td><tt>47392e7979b7653df75af69ae33ea11f956c8e34</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kactivities-stats-5.79.0.tar.xz">kactivities-stats-5.79.0</a></td>
   <td align="right">80kB</td>
   <td><tt>52048a69e10ff43464b2bface2f29c27aa050b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kapidox-5.79.0.tar.xz">kapidox-5.79.0</a></td>
   <td align="right">189kB</td>
   <td><tt>4d26fe06a07bb3af42a59587ff8089559e226a63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/karchive-5.79.0.tar.xz">karchive-5.79.0</a></td>
   <td align="right">960kB</td>
   <td><tt>d9464e4e59b755aa9f26c696ebc19cc2f7a89bcb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kauth-5.79.0.tar.xz">kauth-5.79.0</a></td>
   <td align="right">85kB</td>
   <td><tt>b06c0c54a0e35bc3613cece12060998f2cf998c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kbookmarks-5.79.0.tar.xz">kbookmarks-5.79.0</a></td>
   <td align="right">123kB</td>
   <td><tt>ae2f7b0dfc5c910f4609f8a0fb9bb74f85a5ff72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcalendarcore-5.79.0.tar.xz">kcalendarcore-5.79.0</a></td>
   <td align="right">252kB</td>
   <td><tt>6ce2e310e5464eed6476b06e0319b016632e9f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcmutils-5.79.0.tar.xz">kcmutils-5.79.0</a></td>
   <td align="right">251kB</td>
   <td><tt>4582b949f83e806adf64d43bc9f381387b453e6c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcodecs-5.79.0.tar.xz">kcodecs-5.79.0</a></td>
   <td align="right">223kB</td>
   <td><tt>6e041df08cef50414d8201edb4a45c91dc3c5854</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcompletion-5.79.0.tar.xz">kcompletion-5.79.0</a></td>
   <td align="right">118kB</td>
   <td><tt>56a8c3e687bdb87bad7f0fe3a09869bb9c37adec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kconfig-5.79.0.tar.xz">kconfig-5.79.0</a></td>
   <td align="right">259kB</td>
   <td><tt>88e91b312593e1c2c18dcbb79f42a43f3c102620</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kconfigwidgets-5.79.0.tar.xz">kconfigwidgets-5.79.0</a></td>
   <td align="right">380kB</td>
   <td><tt>7e867638e545104c607283f04addb6d86ed583c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcontacts-5.79.0.tar.xz">kcontacts-5.79.0</a></td>
   <td align="right">530kB</td>
   <td><tt>682002c4d8f93060de66956ef230fa7c75ab2dd7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcoreaddons-5.79.0.tar.xz">kcoreaddons-5.79.0</a></td>
   <td align="right">399kB</td>
   <td><tt>f81550b1bb0113a8bd0eb2a03fec9cf60e2b5686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kcrash-5.79.0.tar.xz">kcrash-5.79.0</a></td>
   <td align="right">21kB</td>
   <td><tt>c541aa09574a40b6361f4fdd147861a9a11d7b0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdav-5.79.0.tar.xz">kdav-5.79.0</a></td>
   <td align="right">57kB</td>
   <td><tt>28df701256f61f8d001898a70fac540ee330e9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdbusaddons-5.79.0.tar.xz">kdbusaddons-5.79.0</a></td>
   <td align="right">41kB</td>
   <td><tt>f1503e955e030f3a94cfac96b9fe8e71ab7ebc50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdeclarative-5.79.0.tar.xz">kdeclarative-5.79.0</a></td>
   <td align="right">180kB</td>
   <td><tt>405e3d56d662f63df90df1bb134b59db6eee0369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kded-5.79.0.tar.xz">kded-5.79.0</a></td>
   <td align="right">35kB</td>
   <td><tt>eef5cb702d178de1604ba14bf6963a8386b9ae1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdesu-5.79.0.tar.xz">kdesu-5.79.0</a></td>
   <td align="right">50kB</td>
   <td><tt>d64852f1089df5eb8d8cc1697b9aff95e29dacf6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdnssd-5.79.0.tar.xz">kdnssd-5.79.0</a></td>
   <td align="right">56kB</td>
   <td><tt>7fc82861466dfbf8bdf69aa6934320cbcb35d260</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kdoctools-5.79.0.tar.xz">kdoctools-5.79.0</a></td>
   <td align="right">428kB</td>
   <td><tt>fc1d7865445204dece2f3eda074c3fbe835d0488</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kemoticons-5.79.0.tar.xz">kemoticons-5.79.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c6c832ee103aa29792eb7985357283107edbde03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kfilemetadata-5.79.0.tar.xz">kfilemetadata-5.79.0</a></td>
   <td align="right">415kB</td>
   <td><tt>ba36967bd4ac8c393fd5fc043fa381bdff54df53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kglobalaccel-5.79.0.tar.xz">kglobalaccel-5.79.0</a></td>
   <td align="right">85kB</td>
   <td><tt>10ced6ae3a36d498179e9d9101a484b2e56866f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kguiaddons-5.79.0.tar.xz">kguiaddons-5.79.0</a></td>
   <td align="right">57kB</td>
   <td><tt>6d41de32cb3b352f62eec109eb55c43565fdca5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kholidays-5.79.0.tar.xz">kholidays-5.79.0</a></td>
   <td align="right">220kB</td>
   <td><tt>0c8183847a4d0436563832df289227ec99f92f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/ki18n-5.79.0.tar.xz">ki18n-5.79.0</a></td>
   <td align="right">576kB</td>
   <td><tt>d8f0e26116225eead6c8a9d1427ef7f71b79711a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kiconthemes-5.79.0.tar.xz">kiconthemes-5.79.0</a></td>
   <td align="right">217kB</td>
   <td><tt>3a439cf7c760a12739498910d36b45693e02a113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kidletime-5.79.0.tar.xz">kidletime-5.79.0</a></td>
   <td align="right">25kB</td>
   <td><tt>534fb692c19d3d9a133b9a20471030078b4c327e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kimageformats-5.79.0.tar.xz">kimageformats-5.79.0</a></td>
   <td align="right">552kB</td>
   <td><tt>320d79d8930bd55ad6a0c6cd23b956cf7f2fe5f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kinit-5.79.0.tar.xz">kinit-5.79.0</a></td>
   <td align="right">118kB</td>
   <td><tt>257cd361a719342b0709f69b2e279b2152e627a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kio-5.79.0.tar.xz">kio-5.79.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4c0fe44fcf739a59df3cb7a911cb7d7debb0151f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kirigami2-5.79.0.tar.xz">kirigami2-5.79.0</a></td>
   <td align="right">293kB</td>
   <td><tt>590dc7ed9dc27e0b980ab650ad07845f39198749</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kitemmodels-5.79.0.tar.xz">kitemmodels-5.79.0</a></td>
   <td align="right">393kB</td>
   <td><tt>c4e54772020bd4c3e202c4c88220af46756497da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kitemviews-5.79.0.tar.xz">kitemviews-5.79.0</a></td>
   <td align="right">73kB</td>
   <td><tt>1ede982c01c1a4023e9315768c0b9316c09bee24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kjobwidgets-5.79.0.tar.xz">kjobwidgets-5.79.0</a></td>
   <td align="right">90kB</td>
   <td><tt>40d3bf7aa00263b6f357123756974933898067e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/knewstuff-5.79.0.tar.xz">knewstuff-5.79.0</a></td>
   <td align="right">1.1MB</td>
   <td><tt>eb19d78501d02e79f6e3fb5e805a9ba8f6c13217</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/knotifications-5.79.0.tar.xz">knotifications-5.79.0</a></td>
   <td align="right">118kB</td>
   <td><tt>6bb06af0531bd92dcaa5073a94b1b5c9daeb1c91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/knotifyconfig-5.79.0.tar.xz">knotifyconfig-5.79.0</a></td>
   <td align="right">82kB</td>
   <td><tt>71cffbfc8bf96a26f6a9874430ef493acf171696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kpackage-5.79.0.tar.xz">kpackage-5.79.0</a></td>
   <td align="right">137kB</td>
   <td><tt>71ba5a70d6252b04ada416e3259e304caa7ee575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kparts-5.79.0.tar.xz">kparts-5.79.0</a></td>
   <td align="right">187kB</td>
   <td><tt>6c1ed3183dc0a0b6800453034a0d93b88555cade</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kpeople-5.79.0.tar.xz">kpeople-5.79.0</a></td>
   <td align="right">60kB</td>
   <td><tt>ac541054295b67bc17d8656fd86837843c93c208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kplotting-5.79.0.tar.xz">kplotting-5.79.0</a></td>
   <td align="right">30kB</td>
   <td><tt>141193e74a8c1b72bfea701ddf984d072d1d6794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kpty-5.79.0.tar.xz">kpty-5.79.0</a></td>
   <td align="right">54kB</td>
   <td><tt>30c047f68c88b4e439ebbc3cdfd7c4d826fc6496</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kquickcharts-5.79.0.tar.xz">kquickcharts-5.79.0</a></td>
   <td align="right">98kB</td>
   <td><tt>2913a9ab16ed394a6ce40fec960c3066026bff81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/krunner-5.79.0.tar.xz">krunner-5.79.0</a></td>
   <td align="right">72kB</td>
   <td><tt>b119ad8280e3d32272bc0fd14739165d93048e8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kservice-5.79.0.tar.xz">kservice-5.79.0</a></td>
   <td align="right">255kB</td>
   <td><tt>1c3bcfcb2a211bfee985593155996410d7b0a687</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/ktexteditor-5.79.0.tar.xz">ktexteditor-5.79.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>641911413bf064fe693b3f5f514264e267f07b47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/ktextwidgets-5.79.0.tar.xz">ktextwidgets-5.79.0</a></td>
   <td align="right">317kB</td>
   <td><tt>69632367cc928de670f148c44ca5fca1f843b4d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kunitconversion-5.79.0.tar.xz">kunitconversion-5.79.0</a></td>
   <td align="right">840kB</td>
   <td><tt>22f7c21b715405ab26608537592a0f4ebbeea088</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kwallet-5.79.0.tar.xz">kwallet-5.79.0</a></td>
   <td align="right">292kB</td>
   <td><tt>adef219f92151eff9fd780c311f9c531545e8b33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kwayland-5.79.0.tar.xz">kwayland-5.79.0</a></td>
   <td align="right">336kB</td>
   <td><tt>34374e789789eb9f4ae7ef60fc85e18685280b6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kwidgetsaddons-5.79.0.tar.xz">kwidgetsaddons-5.79.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1080b1b17a4c938a7ddf28185253a5f373f762e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kwindowsystem-5.79.0.tar.xz">kwindowsystem-5.79.0</a></td>
   <td align="right">172kB</td>
   <td><tt>4e20e4688c2630f779457ee0da44127bdead1d5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/kxmlgui-5.79.0.tar.xz">kxmlgui-5.79.0</a></td>
   <td align="right">840kB</td>
   <td><tt>76cc26c9566c803fdbbc56bd0aa1a63989004fa5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/modemmanager-qt-5.79.0.tar.xz">modemmanager-qt-5.79.0</a></td>
   <td align="right">109kB</td>
   <td><tt>d466e3f35ee22fd519ecac66a62520d2da971696</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/networkmanager-qt-5.79.0.tar.xz">networkmanager-qt-5.79.0</a></td>
   <td align="right">190kB</td>
   <td><tt>105b5c7ae56ecbcdc52925c4e78cbe81b1b66491</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/oxygen-icons5-5.79.0.tar.xz">oxygen-icons5-5.79.0</a></td>
   <td align="right">225MB</td>
   <td><tt>647056fc6989d4d8207f318e96c6c1b40d78305a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/plasma-framework-5.79.0.tar.xz">plasma-framework-5.79.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e4015ad513d5dd78a3b7a91cc6a88935899ef5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/prison-5.79.0.tar.xz">prison-5.79.0</a></td>
   <td align="right">40kB</td>
   <td><tt>b997a324eccd14d878c9738f4e38192f08dcdc7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/purpose-5.79.0.tar.xz">purpose-5.79.0</a></td>
   <td align="right">155kB</td>
   <td><tt>c88568565f56f4be1c6ccaa662b136162a4baacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/qqc2-desktop-style-5.79.0.tar.xz">qqc2-desktop-style-5.79.0</a></td>
   <td align="right">58kB</td>
   <td><tt>69b7e1c4a2c918f5fdf99eea3f8c234f8a5ffb17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/solid-5.79.0.tar.xz">solid-5.79.0</a></td>
   <td align="right">267kB</td>
   <td><tt>75295b6af35a89ad2ddcd70821dced03bcbf58bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/sonnet-5.79.0.tar.xz">sonnet-5.79.0</a></td>
   <td align="right">287kB</td>
   <td><tt>b050e7ed551bd06bbdf402d7ad6faaca5ab48725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/syndication-5.79.0.tar.xz">syndication-5.79.0</a></td>
   <td align="right">496kB</td>
   <td><tt>b0b45bc8163f88c2f5b7dd7914baaf5fc0cfd9d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/syntax-highlighting-5.79.0.tar.xz">syntax-highlighting-5.79.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>7f37d395fa69a6dc78769e5dfada1d5132e31ee1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.79/threadweaver-5.79.0.tar.xz">threadweaver-5.79.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>57f0b2d31d8e314e41fbdc08bd3d8888db193302</tt></td>
</tr>

</table>
