<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/akonadi-16.04.2.tar.xz">akonadi-16.04.2</a></td>
   <td align="right">998kB</td>
   <td><tt>c677d6e65acb03816e8c5e66f56c3da32495672f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/akonadi-calendar-16.04.2.tar.xz">akonadi-calendar-16.04.2</a></td>
   <td align="right">112kB</td>
   <td><tt>dd31a0e3850a4d477a9ba8bb361acfb522a661d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/akonadi-search-16.04.2.tar.xz">akonadi-search-16.04.2</a></td>
   <td align="right">68kB</td>
   <td><tt>4ecb2c12007b7bd5c7df848a0ccc31a1a3b5660c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/analitza-16.04.2.tar.xz">analitza-16.04.2</a></td>
   <td align="right">228kB</td>
   <td><tt>b1df104db53040aa873960cf498fbdae599cb269</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ark-16.04.2.tar.xz">ark-16.04.2</a></td>
   <td align="right">953kB</td>
   <td><tt>f3600d8021052eaec087ad258812eeaa6108542f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/artikulate-16.04.2.tar.xz">artikulate-16.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>7da39c46067f8994546d723c383522423639d8ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/audiocd-kio-16.04.2.tar.xz">audiocd-kio-16.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>c3077493392456ad7bcbc9d99a385bfe928896c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/baloo-widgets-16.04.2.tar.xz">baloo-widgets-16.04.2</a></td>
   <td align="right">55kB</td>
   <td><tt>508a6ea068f88abd20cf0e4e51a4524214fafbe1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/blinken-16.04.2.tar.xz">blinken-16.04.2</a></td>
   <td align="right">554kB</td>
   <td><tt>720d1770e5a69eaa209c274e8dc31604fffb2677</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/bomber-16.04.2.tar.xz">bomber-16.04.2</a></td>
   <td align="right">384kB</td>
   <td><tt>2a3ad27965cc95689bf591f5d379162360ee7bc0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/bovo-16.04.2.tar.xz">bovo-16.04.2</a></td>
   <td align="right">103kB</td>
   <td><tt>c786288318233981b62489d6d740adbf6304d86c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/calendarsupport-16.04.2.tar.xz">calendarsupport-16.04.2</a></td>
   <td align="right">87kB</td>
   <td><tt>2d66a0b6ac947b7279db9e54f9794e08755de8ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/cantor-16.04.2.tar.xz">cantor-16.04.2</a></td>
   <td align="right">342kB</td>
   <td><tt>e637326f47070d2a955cbf32c2992f3a7dd1a892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/cervisia-16.04.2.tar.xz">cervisia-16.04.2</a></td>
   <td align="right">365kB</td>
   <td><tt>3d55aaa7d28e08b8da54528175770b91b0f7cf93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/dolphin-16.04.2.tar.xz">dolphin-16.04.2</a></td>
   <td align="right">644kB</td>
   <td><tt>01d95c6927c4dbe28b23816c9ca3301d595ab31d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/dolphin-plugins-16.04.2.tar.xz">dolphin-plugins-16.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>d8e59ce4bd0676e3332414d665da85b2dc97b523</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/dragon-16.04.2.tar.xz">dragon-16.04.2</a></td>
   <td align="right">394kB</td>
   <td><tt>b27540cd4ba9e268dd0a31234092306bf065d049</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/eventviews-16.04.2.tar.xz">eventviews-16.04.2</a></td>
   <td align="right">133kB</td>
   <td><tt>485de8930259652131cbd9fabaa8b2e788779018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ffmpegthumbs-16.04.2.tar.xz">ffmpegthumbs-16.04.2</a></td>
   <td align="right">19kB</td>
   <td><tt>dd067ec381f9307cc6570b3a6567db9a85a79671</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/filelight-16.04.2.tar.xz">filelight-16.04.2</a></td>
   <td align="right">280kB</td>
   <td><tt>3482177780bae4e25814145333383ed9e11e4708</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/gpgmepp-16.04.2.tar.xz">gpgmepp-16.04.2</a></td>
   <td align="right">66kB</td>
   <td><tt>d8fbd99b1edeb6a31c9febfb4fd2b814884cded1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/granatier-16.04.2.tar.xz">granatier-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>37a08038ef2ac6db56137a8e0e919b6b047cb008</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/grantleetheme-16.04.2.tar.xz">grantleetheme-16.04.2</a></td>
   <td align="right">31kB</td>
   <td><tt>ba5daf836f85baa82531847489ad30f36e4ba698</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/gwenview-16.04.2.tar.xz">gwenview-16.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3d8d9cbe763e52a6ee3a1ec34f8e825fa5c5b4cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/incidenceeditor-16.04.2.tar.xz">incidenceeditor-16.04.2</a></td>
   <td align="right">107kB</td>
   <td><tt>7dffe61752b8de3c55893431b36991207193cbca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/jovie-16.04.2.tar.xz">jovie-16.04.2</a></td>
   <td align="right">384kB</td>
   <td><tt>869a3c50cd893e96dc10f5f8dc0d3ca3d955b32f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/juk-16.04.2.tar.xz">juk-16.04.2</a></td>
   <td align="right">435kB</td>
   <td><tt>fe280665c22fe79e75e865c6ae3e4c7d51b09473</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kaccessible-16.04.2.tar.xz">kaccessible-16.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>313141fca96ef344466c424b97f93abb551ef588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kaccounts-integration-16.04.2.tar.xz">kaccounts-integration-16.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>944b3a8cd58fdc360aed218413336a2a996c23ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kaccounts-providers-16.04.2.tar.xz">kaccounts-providers-16.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>b4fbbc7c8fa15e6c0f6835efc275fa1740421439</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kajongg-16.04.2.tar.xz">kajongg-16.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>faf4b1b752b668771b3b17ae8fe650c0e58803e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kalarmcal-16.04.2.tar.xz">kalarmcal-16.04.2</a></td>
   <td align="right">85kB</td>
   <td><tt>8e0df1667f6d7d04dc052a5e74d0888a0395c0de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kalgebra-16.04.2.tar.xz">kalgebra-16.04.2</a></td>
   <td align="right">250kB</td>
   <td><tt>968018460d4bad94f12ad2d3072f15f6e4e0e72c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kalzium-16.04.2.tar.xz">kalzium-16.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>e77caa2fdc375da4c030f30bcd99cad12fa62b81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kamera-16.04.2.tar.xz">kamera-16.04.2</a></td>
   <td align="right">36kB</td>
   <td><tt>b7d55786acb6f32e01607a5d72ce8c4ad9f328c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kanagram-16.04.2.tar.xz">kanagram-16.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>300eff6f026c1e392a61bab3fc581b92aabc0de6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kapman-16.04.2.tar.xz">kapman-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>f680b2faa775dca22cd0f156ae7e5c5c027ec1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kapptemplate-16.04.2.tar.xz">kapptemplate-16.04.2</a></td>
   <td align="right">463kB</td>
   <td><tt>61ee89ed4558cfc64e3d7625ee8f97c85fdd2758</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kate-16.04.2.tar.xz">kate-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>7f77c9c36fe800038efb374fcbd20dd8aee6363c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/katomic-16.04.2.tar.xz">katomic-16.04.2</a></td>
   <td align="right">645kB</td>
   <td><tt>1989cce95e0fcb3a62ec3954305bfbf74a331b7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kblackbox-16.04.2.tar.xz">kblackbox-16.04.2</a></td>
   <td align="right">255kB</td>
   <td><tt>10694f0b194066d7526b4c96f332d73ea68eec59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kblocks-16.04.2.tar.xz">kblocks-16.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>664c0274f8506671f1e1bf91d7540652a88f5e7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kblog-16.04.2.tar.xz">kblog-16.04.2</a></td>
   <td align="right">42kB</td>
   <td><tt>dea3fcf922e4afa16d1bd3c4ed52e09382c8f6cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kbounce-16.04.2.tar.xz">kbounce-16.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>d926cd814eae455594aa8d821d3cd98d06bda492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kbreakout-16.04.2.tar.xz">kbreakout-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>ee741ffcf5065b06fa28350776a1355e52aadd12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kbruch-16.04.2.tar.xz">kbruch-16.04.2</a></td>
   <td align="right">884kB</td>
   <td><tt>8e352862f94d721918cbebc8be1584ea9cba5a06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcachegrind-16.04.2.tar.xz">kcachegrind-16.04.2</a></td>
   <td align="right">232kB</td>
   <td><tt>cd44211ef4a18bce4fbf0ef0b097fef9a7c9669b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcalc-16.04.2.tar.xz">kcalc-16.04.2</a></td>
   <td align="right">81kB</td>
   <td><tt>66ac5378aef35716ff0cee34549cf8f7ec65741b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcalcore-16.04.2.tar.xz">kcalcore-16.04.2</a></td>
   <td align="right">288kB</td>
   <td><tt>0f07ac4a7150564093066e5697f5e4bf928734d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcalutils-16.04.2.tar.xz">kcalutils-16.04.2</a></td>
   <td align="right">68kB</td>
   <td><tt>c2a62de832510cedf7192a1c89326efcb84e2fbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcharselect-16.04.2.tar.xz">kcharselect-16.04.2</a></td>
   <td align="right">70kB</td>
   <td><tt>8655bf54bc1743d0c45286115ec711d6af1862b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcolorchooser-16.04.2.tar.xz">kcolorchooser-16.04.2</a></td>
   <td align="right">4kB</td>
   <td><tt>9f80622bb4a8f9612a0d526f9950447ade6ab0eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcontacts-16.04.2.tar.xz">kcontacts-16.04.2</a></td>
   <td align="right">132kB</td>
   <td><tt>493c012774bd27e89d690df120d99c90bc283c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kcron-16.04.2.tar.xz">kcron-16.04.2</a></td>
   <td align="right">136kB</td>
   <td><tt>3180409b5366c55b2b8af4e306c57aa2680d07e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-baseapps-16.04.2.tar.xz">kde-baseapps-16.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>86beea3ec5ec903633f3b4a8519a8a87d51c0fe4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdebugsettings-16.04.2.tar.xz">kdebugsettings-16.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>db07b95ee57a7420ff36e40f2d041b1cab45949b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-dev-scripts-16.04.2.tar.xz">kde-dev-scripts-16.04.2</a></td>
   <td align="right">302kB</td>
   <td><tt>3444cabcfa6f84f365c33e40e6bafb1579f0cad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-dev-utils-16.04.2.tar.xz">kde-dev-utils-16.04.2</a></td>
   <td align="right">50kB</td>
   <td><tt>0ea0509cef2746b578a4dc70ee0547b17c0ae43f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdeedu-data-16.04.2.tar.xz">kdeedu-data-16.04.2</a></td>
   <td align="right">94kB</td>
   <td><tt>4fa5a6cbdce451e5bfa0dd5219b2bef0d8f70409</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdegraphics-mobipocket-16.04.2.tar.xz">kdegraphics-mobipocket-16.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>4c6eb7d5625178d78d380d04df6be097294c5e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdegraphics-strigi-analyzer-16.04.2.tar.xz">kdegraphics-strigi-analyzer-16.04.2</a></td>
   <td align="right">39kB</td>
   <td><tt>86ae180892cfeb3f589458696eac79e8f951b392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdegraphics-thumbnailers-16.04.2.tar.xz">kdegraphics-thumbnailers-16.04.2</a></td>
   <td align="right">40kB</td>
   <td><tt>3a869903a451713466b5891b674703a88e0e4031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdelibs-4.14.21.tar.xz">kdelibs-4.14.21</a></td>
   <td align="right">11MB</td>
   <td><tt>a91683ded5887637cf12492c956b68359368a7c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdenetwork-filesharing-16.04.2.tar.xz">kdenetwork-filesharing-16.04.2</a></td>
   <td align="right">27kB</td>
   <td><tt>e4a677d3495b1bc1cee5fd36fbfb02cd580db0f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdenetwork-strigi-analyzers-16.04.2.tar.xz">kdenetwork-strigi-analyzers-16.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>fdbb6c893930c0b5c4ad7a918d575230a6d06575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdenlive-16.04.2.tar.xz">kdenlive-16.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>8d3c575cc3f9921587bc6df0169090e203cf56bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdepim-16.04.2.tar.xz">kdepim-16.04.2</a></td>
   <td align="right">5.7MB</td>
   <td><tt>3937eda71c2c4fcf9641457e27cec46f200ca5c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdepim-addons-16.04.2.tar.xz">kdepim-addons-16.04.2</a></td>
   <td align="right">206kB</td>
   <td><tt>3a7ec6d32fb6c9b34e3eb9946b2b964731341423</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdepim-apps-libs-16.04.2.tar.xz">kdepim-apps-libs-16.04.2</a></td>
   <td align="right">59kB</td>
   <td><tt>0c4d92ac4884cbdc884816d0d4f01645b5bf4415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdepimlibs-16.04.2.tar.xz">kdepimlibs-16.04.2</a></td>
   <td align="right">286kB</td>
   <td><tt>9fcf330aba0f98dafed58d632b07e418169ca198</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdepim-runtime-16.04.2.tar.xz">kdepim-runtime-16.04.2</a></td>
   <td align="right">685kB</td>
   <td><tt>bb30aa4f6af25459cbbe0da653a3e604aad16ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-runtime-16.04.2.tar.xz">kde-runtime-16.04.2</a></td>
   <td align="right">7.5MB</td>
   <td><tt>5b2b67d32062c165097d099cc4a1be499e0e6547</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdesdk-kioslaves-16.04.2.tar.xz">kdesdk-kioslaves-16.04.2</a></td>
   <td align="right">352kB</td>
   <td><tt>481e2c8e7e298bc57502d63acab1ed2c1248a137</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdesdk-strigi-analyzers-16.04.2.tar.xz">kdesdk-strigi-analyzers-16.04.2</a></td>
   <td align="right">17kB</td>
   <td><tt>d27951ec2074c1f4bd515b15f4bfe6700156a252</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdesdk-thumbnailers-16.04.2.tar.xz">kdesdk-thumbnailers-16.04.2</a></td>
   <td align="right">11kB</td>
   <td><tt>e9bd918f7b0211101c906686041c3b0976b7ff87</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdewebdev-16.04.2.tar.xz">kdewebdev-16.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>1c777c6bfe360e37780db5f7ffefa101f166df8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdf-16.04.2.tar.xz">kdf-16.04.2</a></td>
   <td align="right">145kB</td>
   <td><tt>a3d25f4f1e670c7b0b8ca5669ec5dd2444cb42f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdgantt2-16.04.2.tar.xz">kdgantt2-16.04.2</a></td>
   <td align="right">43kB</td>
   <td><tt>721c2b3a0e5fb83f766230801b8316bb593adcef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kdiamond-16.04.2.tar.xz">kdiamond-16.04.2</a></td>
   <td align="right">3.9MB</td>
   <td><tt>89c24c460f4b6e769981983c95249ad655e5009e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kfloppy-16.04.2.tar.xz">kfloppy-16.04.2</a></td>
   <td align="right">52kB</td>
   <td><tt>e96f0c68d4c2785c86c115a2d2afa60b21e07e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kfourinline-16.04.2.tar.xz">kfourinline-16.04.2</a></td>
   <td align="right">274kB</td>
   <td><tt>20a4b64db5d6fced7c9cfc32112817b3bdd9c0e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kgeography-16.04.2.tar.xz">kgeography-16.04.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>7af0f6f2816a930c960ee548c1b9811889e16747</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kget-16.04.2.tar.xz">kget-16.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>574a27f82a8efb7399be43e2feff5157f03d2ede</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kgoldrunner-16.04.2.tar.xz">kgoldrunner-16.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>62fad7522a7f6e43d062e562f6e87f87bf803afe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kgpg-16.04.2.tar.xz">kgpg-16.04.2</a></td>
   <td align="right">790kB</td>
   <td><tt>faae8d6eee34a25aba0f717372fcc79ceae7527b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/khangman-16.04.2.tar.xz">khangman-16.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>75bab2247a0b6db7e386fec3b5e55a212b37287a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/khelpcenter-16.04.2.tar.xz">khelpcenter-16.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>468adb2b38d28b326ae21dde6668c0e2effad59c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kholidays-16.04.2.tar.xz">kholidays-16.04.2</a></td>
   <td align="right">171kB</td>
   <td><tt>ecb17dda7757406d22d087ef4de41dc39aaf344c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kidentitymanagement-16.04.2.tar.xz">kidentitymanagement-16.04.2</a></td>
   <td align="right">35kB</td>
   <td><tt>834ac56411b36bc854ffe93db17664129e270743</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kig-16.04.2.tar.xz">kig-16.04.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a935ce854f1511b62e085dc02642f480c010ecf4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kigo-16.04.2.tar.xz">kigo-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d0e737415e89154922683fd90b032d18885228ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/killbots-16.04.2.tar.xz">killbots-16.04.2</a></td>
   <td align="right">940kB</td>
   <td><tt>0ec733c9baa826e99fe786562a589ba9baa770f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kimap-16.04.2.tar.xz">kimap-16.04.2</a></td>
   <td align="right">88kB</td>
   <td><tt>8824d9f7f05a9866bce77fec94d19c851e3a3772</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kio-extras-16.04.2.tar.xz">kio-extras-16.04.2</a></td>
   <td align="right">271kB</td>
   <td><tt>420f9e47137651629fae293f178a21e7de619c9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kiriki-16.04.2.tar.xz">kiriki-16.04.2</a></td>
   <td align="right">117kB</td>
   <td><tt>1605fe097da186882b192a69dd954ab56253eb70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kiten-16.04.2.tar.xz">kiten-16.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>14acffc416993c86f4a123b5ce47f5f47e1b58c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kjumpingcube-16.04.2.tar.xz">kjumpingcube-16.04.2</a></td>
   <td align="right">161kB</td>
   <td><tt>d2cb543bc69dbdffb7d5c111c8ebd3c366b49440</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kldap-16.04.2.tar.xz">kldap-16.04.2</a></td>
   <td align="right">52kB</td>
   <td><tt>b646334593a2ba17a61d37575217c4495e9496c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kleopatra-16.04.2.tar.xz">kleopatra-16.04.2</a></td>
   <td align="right">695kB</td>
   <td><tt>30ad0845958afd82baa2214cd6ca00e5cdb54a92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/klettres-16.04.2.tar.xz">klettres-16.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>0859e2384d124ff1c6d16df80551103d167e1ad4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/klickety-16.04.2.tar.xz">klickety-16.04.2</a></td>
   <td align="right">804kB</td>
   <td><tt>bd278022068d3ae70ee71fba8d78b6c0aaf5452a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/klines-16.04.2.tar.xz">klines-16.04.2</a></td>
   <td align="right">985kB</td>
   <td><tt>4ef35fd83264bfffcdb4b23af724a477999c4140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmag-16.04.2.tar.xz">kmag-16.04.2</a></td>
   <td align="right">84kB</td>
   <td><tt>f578c2ca089f2914f5ed4d8079f718a6249db118</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmahjongg-16.04.2.tar.xz">kmahjongg-16.04.2</a></td>
   <td align="right">988kB</td>
   <td><tt>5978655c460d59390de41cd238da494aeefba909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmailtransport-16.04.2.tar.xz">kmailtransport-16.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>5e276cd7b7d232cd112e7cc8135760bd2da739c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmbox-16.04.2.tar.xz">kmbox-16.04.2</a></td>
   <td align="right">23kB</td>
   <td><tt>84d3d64e4addf6531df610060afdc10d421686e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmime-16.04.2.tar.xz">kmime-16.04.2</a></td>
   <td align="right">119kB</td>
   <td><tt>52ede025bb612bcf37e863dced2d20f6d96589d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmines-16.04.2.tar.xz">kmines-16.04.2</a></td>
   <td align="right">609kB</td>
   <td><tt>b3180248ccf86f47d48941ed906178a62c393d0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmix-16.04.2.tar.xz">kmix-16.04.2</a></td>
   <td align="right">380kB</td>
   <td><tt>dd41de94651ad17fa45e7f5a88e435421748adb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmousetool-16.04.2.tar.xz">kmousetool-16.04.2</a></td>
   <td align="right">34kB</td>
   <td><tt>706b7e91e43ae29036ddc3aac8966e41037aa4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmouth-16.04.2.tar.xz">kmouth-16.04.2</a></td>
   <td align="right">270kB</td>
   <td><tt>ff4a1d1377242b290b16a88ed1f020584443becf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kmplot-16.04.2.tar.xz">kmplot-16.04.2</a></td>
   <td align="right">647kB</td>
   <td><tt>a5df47420548057636ed25d3b25a86ff5d62cf2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/knavalbattle-16.04.2.tar.xz">knavalbattle-16.04.2</a></td>
   <td align="right">889kB</td>
   <td><tt>e28156b194fda359e4d79a798c4ebf005beaad7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/knetwalk-16.04.2.tar.xz">knetwalk-16.04.2</a></td>
   <td align="right">764kB</td>
   <td><tt>e109cea7c3cb31a33e85bb3367a5763659b633fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kolf-16.04.2.tar.xz">kolf-16.04.2</a></td>
   <td align="right">749kB</td>
   <td><tt>78eb7487830f7f08e444618cf60758cb38eb1421</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kollision-16.04.2.tar.xz">kollision-16.04.2</a></td>
   <td align="right">204kB</td>
   <td><tt>066c92a1c7ddbd56837b9087df79ba50e6fe9856</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kolourpaint-16.04.2.tar.xz">kolourpaint-16.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>eaf06774fd7aa9d2a49e9b22770188df2c9eb5c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kompare-16.04.2.tar.xz">kompare-16.04.2</a></td>
   <td align="right">336kB</td>
   <td><tt>3eb36e00e5db9858cf2055a48f8c7b3e857062fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/konquest-16.04.2.tar.xz">konquest-16.04.2</a></td>
   <td align="right">396kB</td>
   <td><tt>6a2c5c8dd97193008012d8b733c7694afc38e126</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/konsole-16.04.2.tar.xz">konsole-16.04.2</a></td>
   <td align="right">449kB</td>
   <td><tt>e34cc30d3bb2447fcfb76bf8a40068358d26ba4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kontactinterface-16.04.2.tar.xz">kontactinterface-16.04.2</a></td>
   <td align="right">24kB</td>
   <td><tt>eefcf2ec9b50d1ca1f44e7ae4256815039093b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kopete-16.04.2.tar.xz">kopete-16.04.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>6666e0c2b2798719232433734a0b6872d326cc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kpat-16.04.2.tar.xz">kpat-16.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>d8e018ecf0a1a21e086120c0e53ff724b0ed7110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kpimtextedit-16.04.2.tar.xz">kpimtextedit-16.04.2</a></td>
   <td align="right">76kB</td>
   <td><tt>8f51d6549f5f2ec4cea9e3dc5a6b60c4cd294b0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kppp-16.04.2.tar.xz">kppp-16.04.2</a></td>
   <td align="right">683kB</td>
   <td><tt>9b9e6c314ebf152945e1663ca37e078c05a85415</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kqtquickcharts-16.04.2.tar.xz">kqtquickcharts-16.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>f2707f3ee971f35be1cd2711db81bb7d5355d6d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/krdc-16.04.2.tar.xz">krdc-16.04.2</a></td>
   <td align="right">388kB</td>
   <td><tt>1e238d22a8ddfca45d4ee3e42be441578e7a3716</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kremotecontrol-16.04.2.tar.xz">kremotecontrol-16.04.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e4c1fced1ad486b75786ecf84ea2e0274b52ece2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kreversi-16.04.2.tar.xz">kreversi-16.04.2</a></td>
   <td align="right">464kB</td>
   <td><tt>bb3d10acd7d56044f6ccb9ff65059ca2608b3c00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/krfb-16.04.2.tar.xz">krfb-16.04.2</a></td>
   <td align="right">317kB</td>
   <td><tt>6fd16e0262f117964e49b1068771bb83f2740164</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kross-interpreters-16.04.2.tar.xz">kross-interpreters-16.04.2</a></td>
   <td align="right">129kB</td>
   <td><tt>3763f99b41ea22550f8c2871fe5f0e92be9bcfb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kruler-16.04.2.tar.xz">kruler-16.04.2</a></td>
   <td align="right">120kB</td>
   <td><tt>3551ce51236e21817b878ebe1d5b771304e8f4a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksaneplugin-16.04.2.tar.xz">ksaneplugin-16.04.2</a></td>
   <td align="right">12kB</td>
   <td><tt>4c47793c311ea7337ed4e5bbf10d5fdca74f3b2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kscd-16.04.2.tar.xz">kscd-16.04.2</a></td>
   <td align="right">90kB</td>
   <td><tt>5d9d2d9b994d911dc72114bbf605603335a5387a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kshisen-16.04.2.tar.xz">kshisen-16.04.2</a></td>
   <td align="right">135kB</td>
   <td><tt>2b59d6dd541ee5e7503ebf6a215df62bd14916d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksirk-16.04.2.tar.xz">ksirk-16.04.2</a></td>
   <td align="right">4.7MB</td>
   <td><tt>8a9eb50b4ac1f009e4002aa2127aed4640562686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksnakeduel-16.04.2.tar.xz">ksnakeduel-16.04.2</a></td>
   <td align="right">290kB</td>
   <td><tt>08b888e7254deb76bf8c9ee17e941e22eb030c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kspaceduel-16.04.2.tar.xz">kspaceduel-16.04.2</a></td>
   <td align="right">247kB</td>
   <td><tt>208100a1861e5428c7561f9e7e0f1dbcbe3aecbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksquares-16.04.2.tar.xz">ksquares-16.04.2</a></td>
   <td align="right">78kB</td>
   <td><tt>cde09a95618cf0dce6da34acb663812b4657f62e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kstars-16.04.2.tar.xz">kstars-16.04.2</a></td>
   <td align="right">16MB</td>
   <td><tt>e08c3e5b344f493455ebb7cde1ecd2aab2ffe34f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksudoku-16.04.2.tar.xz">ksudoku-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>27778daa7f45024d5ee9c756e1b58d2c4bcd66de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ksystemlog-16.04.2.tar.xz">ksystemlog-16.04.2</a></td>
   <td align="right">386kB</td>
   <td><tt>fbc7deca9fa3422e4f81462215081d19a6424996</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kteatime-16.04.2.tar.xz">kteatime-16.04.2</a></td>
   <td align="right">102kB</td>
   <td><tt>0fb2058493cf2dc91820888c9d81551c82829d50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktimer-16.04.2.tar.xz">ktimer-16.04.2</a></td>
   <td align="right">157kB</td>
   <td><tt>72b2709e9710d6eeac7bf8e5d44a6dd32c9366fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktnef-16.04.2.tar.xz">ktnef-16.04.2</a></td>
   <td align="right">227kB</td>
   <td><tt>27cbacd64d322b88cc5f2c9ab2131ee4aa3fe932</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktouch-16.04.2.tar.xz">ktouch-16.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>75002aad2d4e70e30637ea9931c46ef57dd798cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-accounts-kcm-16.04.2.tar.xz">ktp-accounts-kcm-16.04.2</a></td>
   <td align="right">86kB</td>
   <td><tt>c44440f26f7931e0b5d7a5d8cf0ec6707d926081</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-approver-16.04.2.tar.xz">ktp-approver-16.04.2</a></td>
   <td align="right">20kB</td>
   <td><tt>401a4044d40efb42cca73c76d8c87340dcdf8058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-auth-handler-16.04.2.tar.xz">ktp-auth-handler-16.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>4475af4641ed7a19168e55d1a5e6021fe50036c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-call-ui-16.04.2.tar.xz">ktp-call-ui-16.04.2</a></td>
   <td align="right">44kB</td>
   <td><tt>bfc51b8e96fc90147c7211807b7c90aa1772c427</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-common-internals-16.04.2.tar.xz">ktp-common-internals-16.04.2</a></td>
   <td align="right">308kB</td>
   <td><tt>6b948bfc09d2625b51df8a7b34cd734563e0ca48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-contact-list-16.04.2.tar.xz">ktp-contact-list-16.04.2</a></td>
   <td align="right">47kB</td>
   <td><tt>80d11beeab83ba9e92e31d7790db3a5d784024df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-contact-runner-16.04.2.tar.xz">ktp-contact-runner-16.04.2</a></td>
   <td align="right">16kB</td>
   <td><tt>a4b41e1a13a42f52778d24c678e4862ca2f10fb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-desktop-applets-16.04.2.tar.xz">ktp-desktop-applets-16.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>f20d8edc92d8a87c9a84b216dcc020f7623b7cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-filetransfer-handler-16.04.2.tar.xz">ktp-filetransfer-handler-16.04.2</a></td>
   <td align="right">22kB</td>
   <td><tt>165ad77d8342ce0d129fc1763029e37b99d0f2ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-kded-module-16.04.2.tar.xz">ktp-kded-module-16.04.2</a></td>
   <td align="right">37kB</td>
   <td><tt>b803040093bbd86c2bed67031cc3e5464ec5ff0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-send-file-16.04.2.tar.xz">ktp-send-file-16.04.2</a></td>
   <td align="right">14kB</td>
   <td><tt>544b3755eb1d977fb2b35dff4c4c6f4b8d97310c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktp-text-ui-16.04.2.tar.xz">ktp-text-ui-16.04.2</a></td>
   <td align="right">287kB</td>
   <td><tt>7fa08c9db210c71b87c0e1593ce9c2d41db6d7af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/ktuberling-16.04.2.tar.xz">ktuberling-16.04.2</a></td>
   <td align="right">4.0MB</td>
   <td><tt>d60a8c1ae0dc87121d106cf2e4f10222f3272114</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kturtle-16.04.2.tar.xz">kturtle-16.04.2</a></td>
   <td align="right">189kB</td>
   <td><tt>69af0ffd926c4350e1a2a045d9a98fc21788f172</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kubrick-16.04.2.tar.xz">kubrick-16.04.2</a></td>
   <td align="right">104kB</td>
   <td><tt>9729a7f5f2a94ae08dd59e299676e23370f67f2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kuser-16.04.2.tar.xz">kuser-16.04.2</a></td>
   <td align="right">132kB</td>
   <td><tt>c2edc30c864f2acf91ac2ee6e7804b1e3fe32372</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kwalletmanager-16.04.2.tar.xz">kwalletmanager-16.04.2</a></td>
   <td align="right">446kB</td>
   <td><tt>617732dc689814e62624a70a646508ed416fa613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kwordquiz-16.04.2.tar.xz">kwordquiz-16.04.2</a></td>
   <td align="right">1.1MB</td>
   <td><tt>82a17d5ba6820a97aec0368c9563e83cc278e62f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libgravatar-16.04.2.tar.xz">libgravatar-16.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>d6a463bcf448235f9b15fcebadd1a6a1855c09ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkcddb-16.04.2.tar.xz">libkcddb-16.04.2</a></td>
   <td align="right">154kB</td>
   <td><tt>b581e1ab2fea44f92e5ad6473bb5746ef33d7c43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkcompactdisc-16.04.2.tar.xz">libkcompactdisc-16.04.2</a></td>
   <td align="right">74kB</td>
   <td><tt>5a52c042b37aaaa96f81a728f8445943e41f1e26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkdcraw-16.04.2.tar.xz">libkdcraw-16.04.2</a></td>
   <td align="right">41kB</td>
   <td><tt>38f8ab7cfee835dab714028e62ef71d3e1770373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkdeedu-16.04.2.tar.xz">libkdeedu-16.04.2</a></td>
   <td align="right">128kB</td>
   <td><tt>6f73056374b618568824a886a18ba29821e5bced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkdegames-16.04.2.tar.xz">libkdegames-16.04.2</a></td>
   <td align="right">5.5MB</td>
   <td><tt>91006e7251a6a280402f2ea48ecfde38b6ab576c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkdepim-16.04.2.tar.xz">libkdepim-16.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>7ab86a6f90090326aaa4d69141a834a6833e9cde</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkeduvocdocument-16.04.2.tar.xz">libkeduvocdocument-16.04.2</a></td>
   <td align="right">87kB</td>
   <td><tt>f7de2728cf9a1e2cfb00a03077b3c3bd6e343a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkexiv2-16.04.2.tar.xz">libkexiv2-16.04.2</a></td>
   <td align="right">63kB</td>
   <td><tt>df90d8baa1b49287f8f81cfa211be4fc07a46623</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkface-16.04.2.tar.xz">libkface-16.04.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>cdb15031c89366fe608a19d2f66dd340207e76b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkgeomap-16.04.2.tar.xz">libkgeomap-16.04.2</a></td>
   <td align="right">122kB</td>
   <td><tt>49e709ea4c9b5fb2b093582a7a82c070064dc42c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkipi-16.04.2.tar.xz">libkipi-16.04.2</a></td>
   <td align="right">101kB</td>
   <td><tt>1baf9186ef38b1b9262e9abe5e3b14aa5a4c400e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkleo-16.04.2.tar.xz">libkleo-16.04.2</a></td>
   <td align="right">127kB</td>
   <td><tt>9dc9cbc38e91dd1607d43e1cd080ae86afe08d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkmahjongg-16.04.2.tar.xz">libkmahjongg-16.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>eee3f1b893197a88d7723315c601366b1205a1de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libkomparediff2-16.04.2.tar.xz">libkomparediff2-16.04.2</a></td>
   <td align="right">55kB</td>
   <td><tt>df7b6b834395e1a035bdd644f380d05c295e78fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libksane-16.04.2.tar.xz">libksane-16.04.2</a></td>
   <td align="right">79kB</td>
   <td><tt>4b6a1972c7f37b5750d31818aa84f4acd1598686</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/libksieve-16.04.2.tar.xz">libksieve-16.04.2</a></td>
   <td align="right">136kB</td>
   <td><tt>40f657830c7c8843ebf30d503e00ea586db9771f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/lokalize-16.04.2.tar.xz">lokalize-16.04.2</a></td>
   <td align="right">934kB</td>
   <td><tt>7d3f91e5175581e110b2c943b23490ec78dafbbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/lskat-16.04.2.tar.xz">lskat-16.04.2</a></td>
   <td align="right">906kB</td>
   <td><tt>42cca50b03b66756c17393a1d544aba1947f3ebc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/mailcommon-16.04.2.tar.xz">mailcommon-16.04.2</a></td>
   <td align="right">169kB</td>
   <td><tt>30fe251488f735e449e509e3ae57eec2262c5819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/mailimporter-16.04.2.tar.xz">mailimporter-16.04.2</a></td>
   <td align="right">363kB</td>
   <td><tt>7fa97e1b4a6089aab9d379aa2c69456601b1991f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/marble-16.04.2.tar.xz">marble-16.04.2</a></td>
   <td align="right">22MB</td>
   <td><tt>ef346eae804b1546c20fa9d3f90acb41555ddc1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/messagelib-16.04.2.tar.xz">messagelib-16.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>fbc6ef2f0c92ab5471780ea9a6454302fdfb46bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/minuet-16.04.2.tar.xz">minuet-16.04.2</a></td>
   <td align="right">499kB</td>
   <td><tt>8bc951e1bed0734325966111d9e15525423e0919</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/mplayerthumbs-16.04.2.tar.xz">mplayerthumbs-16.04.2</a></td>
   <td align="right">26kB</td>
   <td><tt>3f0f6611c3a062ca337f2ed77a1b4ef3a2f7c733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/okteta-16.04.2.tar.xz">okteta-16.04.2</a></td>
   <td align="right">493kB</td>
   <td><tt>f636c88fb2f1dc57726b90613680dde83170c63c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/okular-16.04.2.tar.xz">okular-16.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c4944f08c7e4519b6982f22d78c4c4c84ea9aa9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/palapeli-16.04.2.tar.xz">palapeli-16.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5832e0a00f34a9902fcbef4679b967c9c47784cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/parley-16.04.2.tar.xz">parley-16.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>63b42ca4f7f6f420f703905696223c514fa655dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/picmi-16.04.2.tar.xz">picmi-16.04.2</a></td>
   <td align="right">717kB</td>
   <td><tt>62ad5a3a8ef7a7b971f23e1b8bf37523335f44ff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/pimcommon-16.04.2.tar.xz">pimcommon-16.04.2</a></td>
   <td align="right">140kB</td>
   <td><tt>a078a0e36f188c3c13789ef9adf089ee34ef88d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/poxml-16.04.2.tar.xz">poxml-16.04.2</a></td>
   <td align="right">31kB</td>
   <td><tt>a7bf3063e49678bdc139cf11a52953800b5e2567</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/print-manager-16.04.2.tar.xz">print-manager-16.04.2</a></td>
   <td align="right">91kB</td>
   <td><tt>e1bd1f73845b3e47f8fc50c0bddb410f74fd85d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/rocs-16.04.2.tar.xz">rocs-16.04.2</a></td>
   <td align="right">521kB</td>
   <td><tt>026817a7ea19c06e6b112c271876ccc258882fc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/signon-kwallet-extension-16.04.2.tar.xz">signon-kwallet-extension-16.04.2</a></td>
   <td align="right">10kB</td>
   <td><tt>543661a9f1aa29a012ef677f31536524a3e23bd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/spectacle-16.04.2.tar.xz">spectacle-16.04.2</a></td>
   <td align="right">973kB</td>
   <td><tt>3539ddbd81f3870a40e377ff34c87ab786571a57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/step-16.04.2.tar.xz">step-16.04.2</a></td>
   <td align="right">379kB</td>
   <td><tt>55e06079d1aeb85db9759d86f974cbfdeb99e97e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/svgpart-16.04.2.tar.xz">svgpart-16.04.2</a></td>
   <td align="right">8kB</td>
   <td><tt>ef6317a2d54a6991156057f135ec6f2e01b0304a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/sweeper-16.04.2.tar.xz">sweeper-16.04.2</a></td>
   <td align="right">80kB</td>
   <td><tt>561eda48b1c373906f4c687036afc375f71affd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/syndication-16.04.2.tar.xz">syndication-16.04.2</a></td>
   <td align="right">156kB</td>
   <td><tt>1cd8d975c0fd06eb13d6ca17ec4836828bd8c575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/umbrello-16.04.2.tar.xz">umbrello-16.04.2</a></td>
   <td align="right">1.5MB</td>
   <td><tt>00880f6bbd1ff6bfb46b6110f181048c1293fc1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/zeroconf-ioslave-16.04.2.tar.xz">zeroconf-ioslave-16.04.2</a></td>
   <td align="right">25kB</td>
   <td><tt>70993fec9cb9a2bba84eb6ae264f424aca20796e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ar-16.04.2.tar.xz">kde-l10n-ar-16.04.2</a></td>
   <td align="right">3.2MB</td>
   <td><tt>d36c7c24cfe15a067aedbf4b70f1c026fea3ff4e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ast-16.04.2.tar.xz">kde-l10n-ast-16.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2e4ad6144f6da8d1d707720521a864f31a7816fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-bg-16.04.2.tar.xz">kde-l10n-bg-16.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>163be23dbeefc4d1701c3869bd972dc2ae281d02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-bs-16.04.2.tar.xz">kde-l10n-bs-16.04.2</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c6969d0f781ed1b13b76649a8b237e0dc6b74209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ca-16.04.2.tar.xz">kde-l10n-ca-16.04.2</a></td>
   <td align="right">11MB</td>
   <td><tt>40a1b93068fe33f7b73df0eeae379f415da7d649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ca@valencia-16.04.2.tar.xz">kde-l10n-ca@valencia-16.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>20b4d31a5650129c3a89f8e6a941c9760dfb91bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-cs-16.04.2.tar.xz">kde-l10n-cs-16.04.2</a></td>
   <td align="right">2.8MB</td>
   <td><tt>4e1af66b229fe30f77b58187ae4e3ef2daf92d8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-da-16.04.2.tar.xz">kde-l10n-da-16.04.2</a></td>
   <td align="right">12MB</td>
   <td><tt>b8970fd487c673e3b1ebd9d07761d838cd79d84f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-de-16.04.2.tar.xz">kde-l10n-de-16.04.2</a></td>
   <td align="right">33MB</td>
   <td><tt>ddc4c0daa67bd77ba56495a46108a5f09ea0bd29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-el-16.04.2.tar.xz">kde-l10n-el-16.04.2</a></td>
   <td align="right">4.6MB</td>
   <td><tt>1078367178ccb41ad3a217a3186452c813b1557c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-en_GB-16.04.2.tar.xz">kde-l10n-en_GB-16.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>9fa22f42e7ce6b0d77e83dc8975d52bb479fe5d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-eo-16.04.2.tar.xz">kde-l10n-eo-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>4c89f9ca4af32ad427da232d4d777d02da84939e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-es-16.04.2.tar.xz">kde-l10n-es-16.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>65d1c9f08ae4950828a8b3e1020955af96192f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-et-16.04.2.tar.xz">kde-l10n-et-16.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>011be0c72d65d230c938be5642a54a2a10483a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-eu-16.04.2.tar.xz">kde-l10n-eu-16.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7143361e8c0da0f5df3951f41a4249e6156ec138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-fa-16.04.2.tar.xz">kde-l10n-fa-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>630c8269de4076771ac05e9c62a426e9c8be5ab3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-fi-16.04.2.tar.xz">kde-l10n-fi-16.04.2</a></td>
   <td align="right">2.6MB</td>
   <td><tt>de216d4ece3c893e5fee043b4521a056f2a5e73b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-fr-16.04.2.tar.xz">kde-l10n-fr-16.04.2</a></td>
   <td align="right">45MB</td>
   <td><tt>96c10a3e2adf0f246a4fda6a83f0b281a99e0c40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ga-16.04.2.tar.xz">kde-l10n-ga-16.04.2</a></td>
   <td align="right">2.7MB</td>
   <td><tt>b1f828b2c40f7df796c694b544ccba1220d37b38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-gl-16.04.2.tar.xz">kde-l10n-gl-16.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>16bac55113ddf94778ccc361c2f4aa8ee3dd2144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-he-16.04.2.tar.xz">kde-l10n-he-16.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e3965d090b054ae6f19bb4498eac7caabd6b1c9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-hi-16.04.2.tar.xz">kde-l10n-hi-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0d34ea97ed7c04e6294a6c5e44a368621a8cb639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-hr-16.04.2.tar.xz">kde-l10n-hr-16.04.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>9e558ef4aa1e20adf60d7cc025eb6793b159d1e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-hu-16.04.2.tar.xz">kde-l10n-hu-16.04.2</a></td>
   <td align="right">4.1MB</td>
   <td><tt>5066eb99b506ba260d7548bca7c80c9d13ab82d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ia-16.04.2.tar.xz">kde-l10n-ia-16.04.2</a></td>
   <td align="right">1.3MB</td>
   <td><tt>93e07ddf707293caff6bd4f4c5ebc8d65ad039f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-id-16.04.2.tar.xz">kde-l10n-id-16.04.2</a></td>
   <td align="right">547kB</td>
   <td><tt>a9a001b65fd0b498456fdd755e9c03fa0bbcfe61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-is-16.04.2.tar.xz">kde-l10n-is-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>02f1eebc24fb0c72bc4f54ffa1fd0d511587164a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-it-16.04.2.tar.xz">kde-l10n-it-16.04.2</a></td>
   <td align="right">8.3MB</td>
   <td><tt>386c2cfbd5f2348510bc48288a6892486a4bbc5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ja-16.04.2.tar.xz">kde-l10n-ja-16.04.2</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9bc806c81e7d3370efa6abb68c7283ee52a638eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-kk-16.04.2.tar.xz">kde-l10n-kk-16.04.2</a></td>
   <td align="right">2.4MB</td>
   <td><tt>e17d23bad6eb1e0878adc8ad68ec722971b719a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-km-16.04.2.tar.xz">kde-l10n-km-16.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>479148c3e5bf81044ae53189109fe658143c2ef4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ko-16.04.2.tar.xz">kde-l10n-ko-16.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4a2f93eca49cdf36c860abca4fd0951b28631074</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-lt-16.04.2.tar.xz">kde-l10n-lt-16.04.2</a></td>
   <td align="right">12MB</td>
   <td><tt>bce966491f6c93407c047d43ebb9ff4bf3638fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-lv-16.04.2.tar.xz">kde-l10n-lv-16.04.2</a></td>
   <td align="right">2.0MB</td>
   <td><tt>d2fd730fea58689519831395f3f55fca8b7c2350</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-mr-16.04.2.tar.xz">kde-l10n-mr-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>462d4354b3754fc3ed82eb3c02db61a9362ab99d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-nb-16.04.2.tar.xz">kde-l10n-nb-16.04.2</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3244e0baaea387602f7b8150b46e5134a2caab1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-nds-16.04.2.tar.xz">kde-l10n-nds-16.04.2</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f2c0f40b2ac0e42230eca6a9805e98bb0b7386b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-nl-16.04.2.tar.xz">kde-l10n-nl-16.04.2</a></td>
   <td align="right">13MB</td>
   <td><tt>65519a32e2472fbd51136d2991f405803d744468</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-nn-16.04.2.tar.xz">kde-l10n-nn-16.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>127798721155e373cc2dd7683f24bf7765198617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-pa-16.04.2.tar.xz">kde-l10n-pa-16.04.2</a></td>
   <td align="right">1.8MB</td>
   <td><tt>13dc3ef8e3388d665c00f621167b7ce910cc6e54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-pl-16.04.2.tar.xz">kde-l10n-pl-16.04.2</a></td>
   <td align="right">18MB</td>
   <td><tt>ccec930544340e4fd71a8428618de383d104f34b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-pt-16.04.2.tar.xz">kde-l10n-pt-16.04.2</a></td>
   <td align="right">3.5MB</td>
   <td><tt>bec5115f25df832b36fdb560aa7b8898aeb0db23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-pt_BR-16.04.2.tar.xz">kde-l10n-pt_BR-16.04.2</a></td>
   <td align="right">20MB</td>
   <td><tt>b59a2263d018a6e9a5e71989408ffdc3ae7ef4b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ro-16.04.2.tar.xz">kde-l10n-ro-16.04.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>026284ee29bccad4d0ded3da0e56662adc640a88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ru-16.04.2.tar.xz">kde-l10n-ru-16.04.2</a></td>
   <td align="right">22MB</td>
   <td><tt>db523b63d23aec85e144254d221898bbcd17f0db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-sk-16.04.2.tar.xz">kde-l10n-sk-16.04.2</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0c980654970a21736d640def1551853c1497fb85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-sl-16.04.2.tar.xz">kde-l10n-sl-16.04.2</a></td>
   <td align="right">3.0MB</td>
   <td><tt>e78d0491ddf9892c61afe9cad3998bd6821a9a8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-sr-16.04.2.tar.xz">kde-l10n-sr-16.04.2</a></td>
   <td align="right">4.5MB</td>
   <td><tt>f98e5fed058a7a3ad9bea6855b7f5a3254598014</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-sv-16.04.2.tar.xz">kde-l10n-sv-16.04.2</a></td>
   <td align="right">10MB</td>
   <td><tt>d07099ddedf9dfb3ee56e124779716c7c1cd27da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-tr-16.04.2.tar.xz">kde-l10n-tr-16.04.2</a></td>
   <td align="right">3.7MB</td>
   <td><tt>8e9b468388e20744f747f88239e1a3c75c1a6457</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-ug-16.04.2.tar.xz">kde-l10n-ug-16.04.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a7994d0fa4c5d3047114a454f77def2d2f35b33e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-uk-16.04.2.tar.xz">kde-l10n-uk-16.04.2</a></td>
   <td align="right">25MB</td>
   <td><tt>499522ca97cfa109b7344d6688de530fb14eac57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-wa-16.04.2.tar.xz">kde-l10n-wa-16.04.2</a></td>
   <td align="right">1.6MB</td>
   <td><tt>773a58bd3fbb0b7bcc1ede09584ff9b21c62cf83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-zh_CN-16.04.2.tar.xz">kde-l10n-zh_CN-16.04.2</a></td>
   <td align="right">3.4MB</td>
   <td><tt>2fbce2603d35457583bf09fdf4872fe869f68dee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/16.04.2/src/kde-l10n/kde-l10n-zh_TW-16.04.2.tar.xz">kde-l10n-zh_TW-16.04.2</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8f630f28fb70ffe3428abd7a34f6175d5773f671</tt></td>
</tr>

</table>
