<h2 class="text-center grey-text" style="margin-bottom: 30px;">{{ i18n "home.applications" }}</h2>
<p class="mx-auto description-block" style="margin-bottom: 50px;">{{ i18n "home.applications.description" | markdownify }}</p>
<div class="applications row align-items-stretch">
  {{- $appData := slice -}}
  {{- range getJSON "https://apps.kde.org/index.jsn" -}}
    {{- $app := getJSON (printf "https://apps.kde.org/appdata/%s.json" . ) -}}
    {{- $id := index $app "ID" }}
    {{- $localizedName := index $app.Name $.Site.Language.Lang | default $app.Name.en -}}
    {{- $allGenericNames := index $app "X-KDE-GenericName" -}}
    {{- $genericName := index $allGenericNames $.Site.Language.Lang | default $allGenericNames.en -}}
    {{- $icon := index (index (index (index $app "Icon") "local") 0) "name" -}}
    {{- $appData = $appData | append (dict "id" $id "localizedName" $localizedName "genericName" $genericName "icon" $icon ) -}}
  {{- end -}}
  {{- range sort $appData "localizedName" -}}
    {{- if ne .id "org.rolisteam.rolisteam" }}
      <div class="app text-center col-6 col-sm-4 col-md-3 col-lg-2 p-2">
        <div class="p-3 h-100">
          <div aria-hidden="true">
            <a href="https://apps.kde.org{{ .id | relLangURL }}">
              <img src="https://apps.kde.org/app-icons/{{ .icon }}" loading="lazy" alt="{{ .localizedName }}" width="48" height="48">
            </a>
          </div>
          <h3><a class="application-name" href="https://apps.kde.org{{ .id | relLangURL }}">
            {{- .localizedName -}}
          </a></h3>
          <p class="hyphens">
            {{- .genericName -}}
          </p>
        </div>
      </div>
    {{- end -}}
  {{- end -}}
</div>
