<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-20.07.80.tar.xz">akonadi-20.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>bb71e7ef286ff98a0a5b85b06b12f3997ba152ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-calendar-20.07.80.tar.xz">akonadi-calendar-20.07.80</a></td>
   <td align="right">328kB</td>
   <td><tt>8d6d0ccdf408c80d83da6e335a24c107032db241</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-calendar-tools-20.07.80.tar.xz">akonadi-calendar-tools-20.07.80</a></td>
   <td align="right">220kB</td>
   <td><tt>48f6a0638c82dac983f18a8a7e1b726802ef7486</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadiconsole-20.07.80.tar.xz">akonadiconsole-20.07.80</a></td>
   <td align="right">190kB</td>
   <td><tt>4838ee67846db918f875cd7eac372da75f5d02c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-contacts-20.07.80.tar.xz">akonadi-contacts-20.07.80</a></td>
   <td align="right">393kB</td>
   <td><tt>fdb89a90ec3d91e7eef3fdb47ee0682ac53ea154</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-import-wizard-20.07.80.tar.xz">akonadi-import-wizard-20.07.80</a></td>
   <td align="right">493kB</td>
   <td><tt>5da9ebb371f448209e94c983cc34d68af0c1ce40</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-mime-20.07.80.tar.xz">akonadi-mime-20.07.80</a></td>
   <td align="right">132kB</td>
   <td><tt>5b6f63984083d95c154822dc5329bffe80417ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-notes-20.07.80.tar.xz">akonadi-notes-20.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>4f1faf6f749eea37bd6d9173326dc1964bbe7c49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akonadi-search-20.07.80.tar.xz">akonadi-search-20.07.80</a></td>
   <td align="right">91kB</td>
   <td><tt>185ab358a87e8194e18acb32e2d0b6e8c8893618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/akregator-20.07.80.tar.xz">akregator-20.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>9f400daf3f3a607f679debee1c0474fd01329cfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/analitza-20.07.80.tar.xz">analitza-20.07.80</a></td>
   <td align="right">330kB</td>
   <td><tt>cf5611a313258fc8a6397e4cf52b92546d3387e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ark-20.07.80.tar.xz">ark-20.07.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>56eee2c7f59164209f40c6334e0ca80bb4585ba6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/artikulate-20.07.80.tar.xz">artikulate-20.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>f30cdfb1269edd01a3da17fdcee2dab17d671dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/audiocd-kio-20.07.80.tar.xz">audiocd-kio-20.07.80</a></td>
   <td align="right">485kB</td>
   <td><tt>5ecc6892008f58f8437b61d2651eaf365b28d8da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/baloo-widgets-20.07.80.tar.xz">baloo-widgets-20.07.80</a></td>
   <td align="right">255kB</td>
   <td><tt>4509364428daac82eef37d6ea5f0afdd550d2251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/blinken-20.07.80.tar.xz">blinken-20.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>9fdc0b5e42ee8777b23787a7ba2b167a67aaee12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/bomber-20.07.80.tar.xz">bomber-20.07.80</a></td>
   <td align="right">805kB</td>
   <td><tt>4b0f4f5b80459b759e8f839c800496a22fa35859</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/bovo-20.07.80.tar.xz">bovo-20.07.80</a></td>
   <td align="right">200kB</td>
   <td><tt>c542944bde2517228254b0ac1f8ee63d55b402bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/calendarsupport-20.07.80.tar.xz">calendarsupport-20.07.80</a></td>
   <td align="right">644kB</td>
   <td><tt>19ec1b7e87dd075cc250673e9f0929d3d312a1eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/cantor-20.07.80.tar.xz">cantor-20.07.80</a></td>
   <td align="right">8.6MB</td>
   <td><tt>152fea6b32c8e7aac20a71ac8332ea164770ba19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/cervisia-20.07.80.tar.xz">cervisia-20.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>14fd3daff208fe9cde69997d7d29144beefffecb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/dolphin-20.07.80.tar.xz">dolphin-20.07.80</a></td>
   <td align="right">4.8MB</td>
   <td><tt>babe9366888385d8137835b8673fbc6e9b8788a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/dolphin-plugins-20.07.80.tar.xz">dolphin-plugins-20.07.80</a></td>
   <td align="right">219kB</td>
   <td><tt>3a4931b29cf4288025bb122840dcb25b4733bc36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/dragon-20.07.80.tar.xz">dragon-20.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>e025200d75fd44bba22c3cd47d97d78b231d3fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/elisa-20.07.80.tar.xz">elisa-20.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>9b903dcdb6523905e41976f9b15f303f771893f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/eventviews-20.07.80.tar.xz">eventviews-20.07.80</a></td>
   <td align="right">434kB</td>
   <td><tt>439330e9f265c0fa34b760c6c286ebd00208ce92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ffmpegthumbs-20.07.80.tar.xz">ffmpegthumbs-20.07.80</a></td>
   <td align="right">31kB</td>
   <td><tt>9cf8156644dcc2798cc3bad091ecf078f2fae660</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/filelight-20.07.80.tar.xz">filelight-20.07.80</a></td>
   <td align="right">650kB</td>
   <td><tt>fb53c5a799dafdfb917fce6ce4dbeb5a2321cf99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/granatier-20.07.80.tar.xz">granatier-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>6de419a50bde91e8e79cb83267edd9b695e4bcf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/grantlee-editor-20.07.80.tar.xz">grantlee-editor-20.07.80</a></td>
   <td align="right">109kB</td>
   <td><tt>4c70b8b7402f753a1401c1341b9d44cbcfe4c4c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/grantleetheme-20.07.80.tar.xz">grantleetheme-20.07.80</a></td>
   <td align="right">54kB</td>
   <td><tt>dbf3126ee047f88fb4559c275fb2014504858fa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/gwenview-20.07.80.tar.xz">gwenview-20.07.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>34000b3512f80cf86dc0d09a79484558f9451075</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/incidenceeditor-20.07.80.tar.xz">incidenceeditor-20.07.80</a></td>
   <td align="right">530kB</td>
   <td><tt>de07d332f324e2decfd7fe966a13678f1516897f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/juk-20.07.80.tar.xz">juk-20.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7c16a5b569e9e374c9661e19043e5bf854ed1acc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/k3b-20.07.80.tar.xz">k3b-20.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>6d4d2965984ce225fa01c0d44a5a8e6b8b811ace</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kaccounts-integration-20.07.80.tar.xz">kaccounts-integration-20.07.80</a></td>
   <td align="right">71kB</td>
   <td><tt>f430134f8f5cd147c9115468d7a112d9e2e3d593</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kaccounts-providers-20.07.80.tar.xz">kaccounts-providers-20.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>0b75e0c4f751de5e13afcf0981b534bc2e2f311e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kaddressbook-20.07.80.tar.xz">kaddressbook-20.07.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>171e0784ca1e42bc12e546f6b137cfbcfe402890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kajongg-20.07.80.tar.xz">kajongg-20.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>ed8f411eca47ac6637db9740c5e1edac863423b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kalarm-20.07.80.tar.xz">kalarm-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>643e90506a7579adcfa340412a374a8d7eaa7456</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kalarmcal-20.07.80.tar.xz">kalarmcal-20.07.80</a></td>
   <td align="right">561kB</td>
   <td><tt>a09e1d4a30008d6f5ed322fddce8fe10fe5715a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kalgebra-20.07.80.tar.xz">kalgebra-20.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>21b8de5555e3f26cafcdee55e9e7ff47bbd4b49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kalzium-20.07.80.tar.xz">kalzium-20.07.80</a></td>
   <td align="right">23MB</td>
   <td><tt>285cdcd75c35adf05f8ec7dc4827d118ad9472e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kamera-20.07.80.tar.xz">kamera-20.07.80</a></td>
   <td align="right">105kB</td>
   <td><tt>b8b6378b044b61e44ae82dc3db3f9bf69b83eacb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kamoso-20.07.80.tar.xz">kamoso-20.07.80</a></td>
   <td align="right">206kB</td>
   <td><tt>1399b0f67896b0f014e455fb638ecd26d2df1601</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kanagram-20.07.80.tar.xz">kanagram-20.07.80</a></td>
   <td align="right">7.6MB</td>
   <td><tt>e502a864db65cf045396c1ebfaf595a2eca6352e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kapman-20.07.80.tar.xz">kapman-20.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>dad584ab2b045e2a8e123fb55a4e295261df52da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kapptemplate-20.07.80.tar.xz">kapptemplate-20.07.80</a></td>
   <td align="right">326kB</td>
   <td><tt>be3aa3f519270d3a8f20636ac84eab43ab120aa0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kate-20.07.80.tar.xz">kate-20.07.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>d0829f8915a7691ef7d0ae795e6278a7d03518c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/katomic-20.07.80.tar.xz">katomic-20.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>891788a6669edaa3065b097da99dbc7fb69f3e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kbackup-20.07.80.tar.xz">kbackup-20.07.80</a></td>
   <td align="right">362kB</td>
   <td><tt>9b02546ebcb34dea7904fc9bd06519421ffcb450</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kblackbox-20.07.80.tar.xz">kblackbox-20.07.80</a></td>
   <td align="right">439kB</td>
   <td><tt>1ad9b799eaf0315c313032aea6f7d6b16a037f5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kblocks-20.07.80.tar.xz">kblocks-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d7b1ae7029aa9021718b8b89bb78803d66ff2f19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kbounce-20.07.80.tar.xz">kbounce-20.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>2a7020554270140846fa72d9ee41cc487fefd51c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kbreakout-20.07.80.tar.xz">kbreakout-20.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>ade1706bd3d2c63a0dc766ec6b38acb415daea9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kbruch-20.07.80.tar.xz">kbruch-20.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>7e08664407f479a42b59a8bbd27a5663cd19562b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcachegrind-20.07.80.tar.xz">kcachegrind-20.07.80</a></td>
   <td align="right">797kB</td>
   <td><tt>d7a475f743c4f9e5c30aec01c72668456a59f165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcalc-20.07.80.tar.xz">kcalc-20.07.80</a></td>
   <td align="right">370kB</td>
   <td><tt>fe61c09396e00275903c1bc063e7fa5edfaca744</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcalutils-20.07.80.tar.xz">kcalutils-20.07.80</a></td>
   <td align="right">316kB</td>
   <td><tt>635ea6440dacaae45b7ef295941f65b347e6651b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcharselect-20.07.80.tar.xz">kcharselect-20.07.80</a></td>
   <td align="right">357kB</td>
   <td><tt>2223f7961a908bfd808ab37c4ce3dd13b05a7d1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcolorchooser-20.07.80.tar.xz">kcolorchooser-20.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>b63d4932b1fbd2476bb791c96732583095731a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kcron-20.07.80.tar.xz">kcron-20.07.80</a></td>
   <td align="right">877kB</td>
   <td><tt>7fcc69ad702033a1b4c745fd2ad2a4f099f75a21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdebugsettings-20.07.80.tar.xz">kdebugsettings-20.07.80</a></td>
   <td align="right">65kB</td>
   <td><tt>6d72d45ba2c51ccb52f6572118c5647932425ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdeconnect-kde-20.07.80.tar.xz">kdeconnect-kde-20.07.80</a></td>
   <td align="right">396kB</td>
   <td><tt>4f329c914187b9305a871f40cc158d479cccec9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kde-dev-scripts-20.07.80.tar.xz">kde-dev-scripts-20.07.80</a></td>
   <td align="right">369kB</td>
   <td><tt>22d8c41cf74d75cc8a7cb37b57c1eb5ee2547a35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kde-dev-utils-20.07.80.tar.xz">kde-dev-utils-20.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>9ebdb283b2bf55e2d1fc1184a3f85b1ed672fe23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdeedu-data-20.07.80.tar.xz">kdeedu-data-20.07.80</a></td>
   <td align="right">327kB</td>
   <td><tt>ee2cfcbe48a09ae77286fe10b0c3a35f4ee06f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdegraphics-mobipocket-20.07.80.tar.xz">kdegraphics-mobipocket-20.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>8f54321e3a5998f1e15adf6eda5f8acd3ec27cac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdegraphics-thumbnailers-20.07.80.tar.xz">kdegraphics-thumbnailers-20.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>b39bf1cace9f9ee277b6120e3c85a2a84174d0c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdenetwork-filesharing-20.07.80.tar.xz">kdenetwork-filesharing-20.07.80</a></td>
   <td align="right">313kB</td>
   <td><tt>f727fb253285bb7f50bf779d1cd8942b735b2ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdenlive-20.07.80.tar.xz">kdenlive-20.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>d7fa31c681ba8c3dee4ca018c86dfe3045e4003e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdepim-addons-20.07.80.tar.xz">kdepim-addons-20.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>50d7ee311f134af21b272c75f76c4c8d967fcaa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdepim-apps-libs-20.07.80.tar.xz">kdepim-apps-libs-20.07.80</a></td>
   <td align="right">59kB</td>
   <td><tt>87c645a3c71d37409cf94e5bec6fc5e7e50e05c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdepim-runtime-20.07.80.tar.xz">kdepim-runtime-20.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>216f11cedc95f506b52a92abfb2d784cbb384ccb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdesdk-kioslaves-20.07.80.tar.xz">kdesdk-kioslaves-20.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>fdb52da01bf7438f850896584946849840f43742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdesdk-thumbnailers-20.07.80.tar.xz">kdesdk-thumbnailers-20.07.80</a></td>
   <td align="right">17kB</td>
   <td><tt>d8211129bcfa4ded9d6289d8c4c428c1016c992c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdf-20.07.80.tar.xz">kdf-20.07.80</a></td>
   <td align="right">456kB</td>
   <td><tt>c860f1d6a482a6828c0e5c4683e5e40c9f23d47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdialog-20.07.80.tar.xz">kdialog-20.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>ef54767c4c8b4a36d0d41ada78808d7890b20a47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kdiamond-20.07.80.tar.xz">kdiamond-20.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>af8ec5395475b6b477732a9704be374bc4f89c23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/keditbookmarks-20.07.80.tar.xz">keditbookmarks-20.07.80</a></td>
   <td align="right">186kB</td>
   <td><tt>ae0df3b466de99850a6023bee6280be315f869b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kfind-20.07.80.tar.xz">kfind-20.07.80</a></td>
   <td align="right">271kB</td>
   <td><tt>2e75bf823cddb742ece7ec888e95097cea02f832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kfloppy-20.07.80.tar.xz">kfloppy-20.07.80</a></td>
   <td align="right">199kB</td>
   <td><tt>274a9ac19105bc2a6eee2d3bfc335db38809fcef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kfourinline-20.07.80.tar.xz">kfourinline-20.07.80</a></td>
   <td align="right">628kB</td>
   <td><tt>e5c0d52ed836256a768eff384a866cfb9010d403</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kgeography-20.07.80.tar.xz">kgeography-20.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>df57cfbb7aec731f1901aac9e14e51ad9a4a2bef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kget-20.07.80.tar.xz">kget-20.07.80</a></td>
   <td align="right">5.3MB</td>
   <td><tt>178696d808c4f05d1a2b6fbfa951d9fa563f3b71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kgoldrunner-20.07.80.tar.xz">kgoldrunner-20.07.80</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0ae71f76ca6e33a61cbea4a1ac38f8dbba5a4092</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kgpg-20.07.80.tar.xz">kgpg-20.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>bfdd49738ec91fc06c9ee3a7729defd1c2d32794</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/khangman-20.07.80.tar.xz">khangman-20.07.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>ba2010fada75a4e4befe50571092d38387310621</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/khelpcenter-20.07.80.tar.xz">khelpcenter-20.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>8078ceb5c50e4cf9a64d835ac759f42a8505ca89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kidentitymanagement-20.07.80.tar.xz">kidentitymanagement-20.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>ed45f6906a64aba25d0a7f45eb519d9b55652cec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kig-20.07.80.tar.xz">kig-20.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>f71ef2d3366faa39bc3cb4937a0ab4e977409588</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kigo-20.07.80.tar.xz">kigo-20.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>99bfd9b49dd81998a277a9ac05ea3e54b0563472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/killbots-20.07.80.tar.xz">killbots-20.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>c88d0c8b2f41a414efa7f7455b46d0b1a685a988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kimagemapeditor-20.07.80.tar.xz">kimagemapeditor-20.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>c3228c28ea6ff30d3018393442ee301f13503ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kimap-20.07.80.tar.xz">kimap-20.07.80</a></td>
   <td align="right">117kB</td>
   <td><tt>f01876c7d22b0ad6a01dbfa93cd7725c667c2e42</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kio-extras-20.07.80.tar.xz">kio-extras-20.07.80</a></td>
   <td align="right">615kB</td>
   <td><tt>08276197b58ca757272cd7d1cd8ca3ae0938a75c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kio-gdrive-20.07.80.tar.xz">kio-gdrive-20.07.80</a></td>
   <td align="right">55kB</td>
   <td><tt>6ac96352d9ae9e57041ff9bcf11820ed8519dfa2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kipi-plugins-20.07.80.tar.xz">kipi-plugins-20.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>6c10402daed5a37aebde26791192c49eaad8cba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kirigami-gallery-20.07.80.tar.xz">kirigami-gallery-20.07.80</a></td>
   <td align="right">281kB</td>
   <td><tt>00417cb8d0fc9531d0ab377833267bdb73b1bff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kiriki-20.07.80.tar.xz">kiriki-20.07.80</a></td>
   <td align="right">369kB</td>
   <td><tt>9c1ddb60d82e2734407c731acfe0ce7e5fa18aa3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kiten-20.07.80.tar.xz">kiten-20.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>d01997b2f0232c9afe8b9eb463ca12b715c3b377</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kitinerary-20.07.80.tar.xz">kitinerary-20.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>625f67d0fadf0a678c387229d4bcf41534b42b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kjumpingcube-20.07.80.tar.xz">kjumpingcube-20.07.80</a></td>
   <td align="right">283kB</td>
   <td><tt>9d8526d702292d4b9b278ade79512c84e50b2719</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kldap-20.07.80.tar.xz">kldap-20.07.80</a></td>
   <td align="right">160kB</td>
   <td><tt>a386d0fb73feaaf21d187e197be3901e9b252344</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kleopatra-20.07.80.tar.xz">kleopatra-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f053e3c297dd247273d7af0462b06019c9472a7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/klettres-20.07.80.tar.xz">klettres-20.07.80</a></td>
   <td align="right">44MB</td>
   <td><tt>3d3169f4485d44b18d41fcffd17164481937e273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/klickety-20.07.80.tar.xz">klickety-20.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>297bde20beccc6a18d7359ccbcff65da40c9a343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/klines-20.07.80.tar.xz">klines-20.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>87df782f880b7d946b63fcdfb0e77d44ed9cb6b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmag-20.07.80.tar.xz">kmag-20.07.80</a></td>
   <td align="right">681kB</td>
   <td><tt>e24124af34b7a0cffa1f9fd7de322f8a67ec8336</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmahjongg-20.07.80.tar.xz">kmahjongg-20.07.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>dcd077c9cb3b712d1450ea8ec343e7d8aa1403c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmail-20.07.80.tar.xz">kmail-20.07.80</a></td>
   <td align="right">4.9MB</td>
   <td><tt>1d3cfa69d190475c3975b4a820fd7f964cc74033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmail-account-wizard-20.07.80.tar.xz">kmail-account-wizard-20.07.80</a></td>
   <td align="right">155kB</td>
   <td><tt>57d3a83a7a0f52db374c240cbf84a7a6deb8d82d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmailtransport-20.07.80.tar.xz">kmailtransport-20.07.80</a></td>
   <td align="right">163kB</td>
   <td><tt>e9c82ed31cc0faec39b3f7d1266f4b2238a23b5c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmbox-20.07.80.tar.xz">kmbox-20.07.80</a></td>
   <td align="right">24kB</td>
   <td><tt>4d9c64f5d569ccaea740a8d22ae85b800c0484e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmime-20.07.80.tar.xz">kmime-20.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>cd9f37b139542cb5da1a787f8381a1582e9fa617</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmines-20.07.80.tar.xz">kmines-20.07.80</a></td>
   <td align="right">934kB</td>
   <td><tt>a5710d106ca0996a56379c51c2b8771001010d22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmix-20.07.80.tar.xz">kmix-20.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>101317ada2e53c298f3c757188df5634874b4584</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmousetool-20.07.80.tar.xz">kmousetool-20.07.80</a></td>
   <td align="right">113kB</td>
   <td><tt>0f77f311052f55750f5ca41081666e295da11766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmouth-20.07.80.tar.xz">kmouth-20.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>5bc2f0457d4456f2f6b83a03471d1293899a384d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kmplot-20.07.80.tar.xz">kmplot-20.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0273fe80967d0b016f711532501a9203fadee519</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/knavalbattle-20.07.80.tar.xz">knavalbattle-20.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>92425bf9e0818f804a4013abf898e4ee3b1c00da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/knetwalk-20.07.80.tar.xz">knetwalk-20.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>02b0dc9b441dfd1100bdd1c97709446f6c2b5fab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/knights-20.07.80.tar.xz">knights-20.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>a5ed31bfd5991dcf64162c1eeebed96c295eec67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/knotes-20.07.80.tar.xz">knotes-20.07.80</a></td>
   <td align="right">314kB</td>
   <td><tt>792293b5e74b67d2208b487bf70fe3b24272bf15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kolf-20.07.80.tar.xz">kolf-20.07.80</a></td>
   <td align="right">1004kB</td>
   <td><tt>66c47d5be51c0f402dc496222012cc906056604b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kollision-20.07.80.tar.xz">kollision-20.07.80</a></td>
   <td align="right">281kB</td>
   <td><tt>c945af9b5219a41213be2faf742979fc2141e98b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kolourpaint-20.07.80.tar.xz">kolourpaint-20.07.80</a></td>
   <td align="right">5.4MB</td>
   <td><tt>b2d1d5d1274e329f0b8233a20a8554112aebeb13</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kompare-20.07.80.tar.xz">kompare-20.07.80</a></td>
   <td align="right">903kB</td>
   <td><tt>2ea615cdbc14035239bbd2bec8f9f2405d8f61f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/konqueror-20.07.80.tar.xz">konqueror-20.07.80</a></td>
   <td align="right">6.8MB</td>
   <td><tt>44f333c39693ef19775bedf8c0dc682750551937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/konquest-20.07.80.tar.xz">konquest-20.07.80</a></td>
   <td align="right">649kB</td>
   <td><tt>487c06980d6c09682b694375ecfeca266b18cfe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/konsole-20.07.80.tar.xz">konsole-20.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>18537d94278e4fcf7fcdf15205db982309187f1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kontact-20.07.80.tar.xz">kontact-20.07.80</a></td>
   <td align="right">772kB</td>
   <td><tt>bf9cf999793f174d82b133aa7b77fac36b6cf254</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kontactinterface-20.07.80.tar.xz">kontactinterface-20.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>6b8a78f0de00c5b1410ae2df9121ccbe51bf6071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kopete-20.07.80.tar.xz">kopete-20.07.80</a></td>
   <td align="right">8.9MB</td>
   <td><tt>29c3e1b0692f6dca7a5685ed76d5f6bb6d23af9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/korganizer-20.07.80.tar.xz">korganizer-20.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a6c8a0920798b392c0ac7ea15940db42a0dc2a85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kpat-20.07.80.tar.xz">kpat-20.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>69a911acb3fc24f1724e86892dc62813a580e42f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kpimtextedit-20.07.80.tar.xz">kpimtextedit-20.07.80</a></td>
   <td align="right">183kB</td>
   <td><tt>17d571e5e034adf7800ee299caef8bb773c3715c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kpkpass-20.07.80.tar.xz">kpkpass-20.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>017850b1a46c82a55b48fc7aa6958c3d007b90b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kqtquickcharts-20.07.80.tar.xz">kqtquickcharts-20.07.80</a></td>
   <td align="right">29kB</td>
   <td><tt>4ab6c7b17c4b326456e51804af29c25bfb04c0f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/krdc-20.07.80.tar.xz">krdc-20.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a0f06357a029396eb5f553f62204badfff271109</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kreversi-20.07.80.tar.xz">kreversi-20.07.80</a></td>
   <td align="right">929kB</td>
   <td><tt>326243dc403fe15618be03d2ee8a6132ac771134</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/krfb-20.07.80.tar.xz">krfb-20.07.80</a></td>
   <td align="right">1.2MB</td>
   <td><tt>c77cd9dd26841ef73882889d6c728ddd6adac328</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kross-interpreters-20.07.80.tar.xz">kross-interpreters-20.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>dda6d2b995ebf1a6b381bf6eed171cac366ce68d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kruler-20.07.80.tar.xz">kruler-20.07.80</a></td>
   <td align="right">265kB</td>
   <td><tt>07862c8ed4f4e4a689a10e9217cdc2392c5c802e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kshisen-20.07.80.tar.xz">kshisen-20.07.80</a></td>
   <td align="right">807kB</td>
   <td><tt>b4b9adeee6fedd4a521b02ce662a6353bec37f7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksirk-20.07.80.tar.xz">ksirk-20.07.80</a></td>
   <td align="right">6.6MB</td>
   <td><tt>c0b5dffe775949422b6b7552090b341ed4ab3bf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksmtp-20.07.80.tar.xz">ksmtp-20.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>1d6dcaf5f40c98c3d362cd394970c99841132209</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksnakeduel-20.07.80.tar.xz">ksnakeduel-20.07.80</a></td>
   <td align="right">531kB</td>
   <td><tt>0427b76929e2b36d726db59788f3444990205dbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kspaceduel-20.07.80.tar.xz">kspaceduel-20.07.80</a></td>
   <td align="right">602kB</td>
   <td><tt>ee41458121e069af12498091769ea6c39f804392</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksquares-20.07.80.tar.xz">ksquares-20.07.80</a></td>
   <td align="right">260kB</td>
   <td><tt>d30624ba18df7c170a22793a11c94c5b20092460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksudoku-20.07.80.tar.xz">ksudoku-20.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>7b1ba7c7ea028a9558f7332bf07272401d60b908</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ksystemlog-20.07.80.tar.xz">ksystemlog-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>f0c153897c0e3b45915d670e8864b31d185b0fc9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kteatime-20.07.80.tar.xz">kteatime-20.07.80</a></td>
   <td align="right">287kB</td>
   <td><tt>ccf02826bdbd4ad54e2d3f298471887880efc59b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktimer-20.07.80.tar.xz">ktimer-20.07.80</a></td>
   <td align="right">376kB</td>
   <td><tt>f8acf75eed6e3a09cf1d9dcc9d9b946eca981208</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktnef-20.07.80.tar.xz">ktnef-20.07.80</a></td>
   <td align="right">293kB</td>
   <td><tt>3a7cda5f82bc5107ddb8141becd35462a210cdd8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktouch-20.07.80.tar.xz">ktouch-20.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>c4cb3c50dd75a75738a00c7c91df52fdeb1c7dcc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-accounts-kcm-20.07.80.tar.xz">ktp-accounts-kcm-20.07.80</a></td>
   <td align="right">256kB</td>
   <td><tt>9357248b1655333c8ff1d257f7599fa4eb4c1d45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-approver-20.07.80.tar.xz">ktp-approver-20.07.80</a></td>
   <td align="right">36kB</td>
   <td><tt>bcb32837c019f66e3a5d131c03b27e407c9e6c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-auth-handler-20.07.80.tar.xz">ktp-auth-handler-20.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>366874ff6871d66acbc2516e72b3254a735b19e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-call-ui-20.07.80.tar.xz">ktp-call-ui-20.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>4e800529be0238108a8e2f62ba450bfce8ef16d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-common-internals-20.07.80.tar.xz">ktp-common-internals-20.07.80</a></td>
   <td align="right">439kB</td>
   <td><tt>bb8a4980a71d793c26b6b3582d8003608b915efa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-contact-list-20.07.80.tar.xz">ktp-contact-list-20.07.80</a></td>
   <td align="right">146kB</td>
   <td><tt>b454206e998d83858ccaae897cc9adf4b6319ea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-contact-runner-20.07.80.tar.xz">ktp-contact-runner-20.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>1efab341597cef4b7fce9f62e52cd3712dae2fff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-desktop-applets-20.07.80.tar.xz">ktp-desktop-applets-20.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>5c68eb12ffd346a978ec36adeb85b4434cf76c31</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-filetransfer-handler-20.07.80.tar.xz">ktp-filetransfer-handler-20.07.80</a></td>
   <td align="right">45kB</td>
   <td><tt>578bed1bbd165318d5450e360d909a38fd3fac75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-kded-module-20.07.80.tar.xz">ktp-kded-module-20.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>e5847c5fa82a504c1d21503db4966a5abb66c295</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-send-file-20.07.80.tar.xz">ktp-send-file-20.07.80</a></td>
   <td align="right">27kB</td>
   <td><tt>b1c6c4fcf2ceae1616b979976def105b3325f37d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktp-text-ui-20.07.80.tar.xz">ktp-text-ui-20.07.80</a></td>
   <td align="right">459kB</td>
   <td><tt>d77f064192ff6117fdb0d3803459a899fa636e88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/ktuberling-20.07.80.tar.xz">ktuberling-20.07.80</a></td>
   <td align="right">67MB</td>
   <td><tt>3fc19eee9fb510d7c0954b9c98fe0882f8ff91d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kturtle-20.07.80.tar.xz">kturtle-20.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>b0e9d5ea0f5385f7b9591314f70f3b36b2fbdde2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kubrick-20.07.80.tar.xz">kubrick-20.07.80</a></td>
   <td align="right">314kB</td>
   <td><tt>599fd10f2e878afbee51f8305aaec62b4cb83b86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kwalletmanager-20.07.80.tar.xz">kwalletmanager-20.07.80</a></td>
   <td align="right">755kB</td>
   <td><tt>9956e09e127fd1f691e1ef76681c6fb5866982dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kwave-20.07.80.tar.xz">kwave-20.07.80</a></td>
   <td align="right">6.5MB</td>
   <td><tt>a24f37d8891a6a7e2547853794e7a21a2abd2b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/kwordquiz-20.07.80.tar.xz">kwordquiz-20.07.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>fb32a2869155bdee9ad21dd13e7cfe512c605901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libgravatar-20.07.80.tar.xz">libgravatar-20.07.80</a></td>
   <td align="right">32kB</td>
   <td><tt>eebc987d89c211c0249d4c3cc6a52a3c07ecb52b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkcddb-20.07.80.tar.xz">libkcddb-20.07.80</a></td>
   <td align="right">415kB</td>
   <td><tt>5a2b48e3f15547fe97dbbbcfb995d80f5747e8c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkcompactdisc-20.07.80.tar.xz">libkcompactdisc-20.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>08df7643a77d7c1f6dcd5e8e9ac864c1688d52e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkdcraw-20.07.80.tar.xz">libkdcraw-20.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>571d37184c2d585d12f69f26fdd9b0d6cfc5f053</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkdegames-20.07.80.tar.xz">libkdegames-20.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>07ccee7e7f07cb66bd77941bd7b71254eaa1fb1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkdepim-20.07.80.tar.xz">libkdepim-20.07.80</a></td>
   <td align="right">243kB</td>
   <td><tt>2dad291e831343452e42c28a8daba97d3ef17ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkeduvocdocument-20.07.80.tar.xz">libkeduvocdocument-20.07.80</a></td>
   <td align="right">209kB</td>
   <td><tt>697bf2e8714ca2749d7e2e579dc806005b31780d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkexiv2-20.07.80.tar.xz">libkexiv2-20.07.80</a></td>
   <td align="right">63kB</td>
   <td><tt>4796a35f77b85c2e4af8c8b35caed05f3908dfef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkgapi-20.07.80.tar.xz">libkgapi-20.07.80</a></td>
   <td align="right">236kB</td>
   <td><tt>37764b2c8e28c9da1db65601efac4279a5bfa313</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkgeomap-20.07.80.tar.xz">libkgeomap-20.07.80</a></td>
   <td align="right">147kB</td>
   <td><tt>14179a3fa3ba7bd73d03d527784c40dce5872028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkipi-20.07.80.tar.xz">libkipi-20.07.80</a></td>
   <td align="right">101kB</td>
   <td><tt>d3289ea659b4ac2e6feb74b489c776a4cec7ab5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkleo-20.07.80.tar.xz">libkleo-20.07.80</a></td>
   <td align="right">346kB</td>
   <td><tt>23dca4a072f39e80b838ba01a64775a8db969edb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkmahjongg-20.07.80.tar.xz">libkmahjongg-20.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>abfe30bfaa3518c6a47bd00c2195aeebdc9d531a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libkomparediff2-20.07.80.tar.xz">libkomparediff2-20.07.80</a></td>
   <td align="right">158kB</td>
   <td><tt>59b4b0df3332a82b5324ce008fb7f6a225d2f334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libksane-20.07.80.tar.xz">libksane-20.07.80</a></td>
   <td align="right">141kB</td>
   <td><tt>a7288a9a4d3580281b9454be00889cc4c5127604</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/libksieve-20.07.80.tar.xz">libksieve-20.07.80</a></td>
   <td align="right">547kB</td>
   <td><tt>4c4128e3ca24c8cdad47db4e63869988c7bdb8f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/lokalize-20.07.80.tar.xz">lokalize-20.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>286516a52bbd2524af51283538e08037b9829938</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/lskat-20.07.80.tar.xz">lskat-20.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7b3790195968f4fb709eb88db1a30a7477ed798c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/mailcommon-20.07.80.tar.xz">mailcommon-20.07.80</a></td>
   <td align="right">691kB</td>
   <td><tt>f8ecaab83a45ccf1cae80480355f5e88c9077c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/mailimporter-20.07.80.tar.xz">mailimporter-20.07.80</a></td>
   <td align="right">528kB</td>
   <td><tt>5465004aaf2ef5e4ced2d79278caf93e3bb93b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/marble-20.07.80.tar.xz">marble-20.07.80</a></td>
   <td align="right">49MB</td>
   <td><tt>95f75eac176e67d1c0a167642376ed2f55512638</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/mbox-importer-20.07.80.tar.xz">mbox-importer-20.07.80</a></td>
   <td align="right">33kB</td>
   <td><tt>2b9d46ab24c9341ece6ff376f2779f9bb6769efe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/messagelib-20.07.80.tar.xz">messagelib-20.07.80</a></td>
   <td align="right">10MB</td>
   <td><tt>afbefd0bea21c2153b231f4e0e3ce84083acd611</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/minuet-20.07.80.tar.xz">minuet-20.07.80</a></td>
   <td align="right">26MB</td>
   <td><tt>483d945a1021bd4e767b28dfa05d8e9375c700ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/okular-20.07.80.tar.xz">okular-20.07.80</a></td>
   <td align="right">7.1MB</td>
   <td><tt>63b3e4e44e168fc10684413292cfc4dba8b2cc0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/palapeli-20.07.80.tar.xz">palapeli-20.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>82d4919bf9c0d66a8122a0534be7fc1fa881e2c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/parley-20.07.80.tar.xz">parley-20.07.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>4b19a562646c76b30db0398d8b08b04d0bfc4d65</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/picmi-20.07.80.tar.xz">picmi-20.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>cbc42be3cb3e211d471816f929bad6bd11b8e5f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/pimcommon-20.07.80.tar.xz">pimcommon-20.07.80</a></td>
   <td align="right">346kB</td>
   <td><tt>8ba85e0cb591f982dd8ddbb2503e781b8ed90ae5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/pim-data-exporter-20.07.80.tar.xz">pim-data-exporter-20.07.80</a></td>
   <td align="right">389kB</td>
   <td><tt>f35267b3e19cf0358eb6831c128f3cf96d5e4d01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/pim-sieve-editor-20.07.80.tar.xz">pim-sieve-editor-20.07.80</a></td>
   <td align="right">443kB</td>
   <td><tt>e6ee4341368441ea80158b13224ab1d8a6874cc8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/poxml-20.07.80.tar.xz">poxml-20.07.80</a></td>
   <td align="right">42kB</td>
   <td><tt>bf53e60c82b3cabc0e8abcb56785f4f46856693c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/print-manager-20.07.80.tar.xz">print-manager-20.07.80</a></td>
   <td align="right">252kB</td>
   <td><tt>859f212f9b06c0933b8ffeb70fd18fdfedb37f59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/rocs-20.07.80.tar.xz">rocs-20.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>d51a0f376734175bf9a883a1ce6c16474efb184f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/signon-kwallet-extension-20.07.80.tar.xz">signon-kwallet-extension-20.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>995250c0b66f6d63c4ee332d5915eadc6071f34a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/spectacle-20.07.80.tar.xz">spectacle-20.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>706d1dc05101e31c8ddd323cdca579bd95317ef3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/step-20.07.80.tar.xz">step-20.07.80</a></td>
   <td align="right">919kB</td>
   <td><tt>52e97cbe8a9988a1a9a9222f8bb3032c3be73e06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/svgpart-20.07.80.tar.xz">svgpart-20.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>224dad434353227b1a0d0cac55d2cea87ddba5f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/sweeper-20.07.80.tar.xz">sweeper-20.07.80</a></td>
   <td align="right">363kB</td>
   <td><tt>b6cc0262b962fb4c915fc9e08bc0423dff06b8b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/umbrello-20.07.80.tar.xz">umbrello-20.07.80</a></td>
   <td align="right">5.2MB</td>
   <td><tt>bd90490d70bb10f35f8f79c04f9a526a39af2318</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/yakuake-20.07.80.tar.xz">yakuake-20.07.80</a></td>
   <td align="right">371kB</td>
   <td><tt>d3b30e3e65040ecc7a98d615f6e09d605a2119d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/release-service/20.07.80/src/zeroconf-ioslave-20.07.80.tar.xz">zeroconf-ioslave-20.07.80</a></td>
   <td align="right">41kB</td>
   <td><tt>942499e786029114d0b0d15ca1ea4b0881e7a3ee</tt></td>
</tr>

</table>
